<ul class="nav">
    <li><a href="/home">Home</a></li>
    <li><a href="/signup">Signup</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/notes">Notes</a></li>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/notes">Notes</a></li>
</ul>