
<nav class="teal lighten-2">
    <div class="nav-wrapper container ">
        <a href="/" class="brand-logo center">Weed Diary </a>
        <a href="#" data-target="side" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/home"> Home</a></li>
            <li><a href="/notes">Create Note</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        
    </div>
</nav>
  <nav class=" teal lighten-2  ">
    <div class="nav-wrapper container">
        <div class="">
      <form> <div class="">
        <div class="input-field teal lighten-4 blue-text searchBox   " ><div class=" blue-text ">
          <input id="searchBar" class="strain  searchBox strainAuto" type="text" required>   </div> </div>
           
        
          <button   class="btn searchBar   waves-effect waves-light right" id="search" >Search

                
            </button>
       
            
         
          
       
        
      </form>
       </div>
    </div>
  </nav>

<ul class="sidenav" id="side">
    <li><a href="/home"> Home</a></li>
    <li><a href="/notes">Create Note</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>