<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Weed Diary</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/jpg" href="/favicon.ico"/>
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/styles/main.css"/>
    <link rel="stylesheet" href="/assets/styles/nouislider.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette|Satisfy|Sofia&display=swap" rel="stylesheet">
</head>

<body> {{> nav}}
    <div class="container centered">
       
        {{{ body }}}
    </div>
    
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>    
    <script src="/assets/styles/nouislider.js"></script>
    <script type="text/javascript">
    
    $(document).ready(function(){
    $('input.autocomplete').autocomplete({
      data: {
"Acapulco Gold":null,
"Alaskan Thunder Fuck":null,
"Alice in Wonderland":null,
"Allen Wrench":null,
"Aloha":null,
"Amnesia":null,
"Amnesia Haze":null,
"Arabian Gold":null,
"Arjan's Strawberry Haze":null,
"Asian Fantasy":null,
"Bay 11":null,
"Berkely":null,
"Black Diesel":null,
"Blue Bayou":null,
"Blue Satellite":null,
"Brainstorm Haze":null,
"Candy Jack":null,
"Cannalope Haze":null,
"Cat Piss":null,
"Charlotte's Web":null,
"Chocolope":null,
"Cracker Jack":null,
"Crystal Coma":null,
"Django":null,
"Double Diesel":null,
"Dr. Grinspoon":null,
"Durban Poison":null,
"Dutch Dragon":null,
"Dutch Hawaiian":null,
"East Coast Sour Diesel":null,
"Fire Haze":null,
"Frostbite":null,
"Ghost Train Haze":null,
"Goldwing":null,
"Grapefruit":null,
"Green Candy":null,
"Green Crack":null,
"Green Crack Extreme":null,
"Green Goblin":null,
"Green Haze":null,
"G Stik Amarillo":null,
"G Stik Rosado":null,
"Hawaiian":null,
"Hawaiian Diesel":null,
"Hawaiian Sativa":null,
"Hawaiian Snow":null,
"Haze":null,
"Haze Wreck":null,
"Hempstar":null,
"Hydro Green Crack":null,
"Island Sweet Skunk":null,
"J-27":null,
"Jack Herer":null,
"Jack Skellington":null,
"Jack Wreck":null,
"Jamaican Pearl":null,
"Jean Guy":null,
"Johnny's Tonic":null,
"Kaboom":null,
"Kali Mist":null,
"Killing Fields":null,
"King's Bread":null,
"Lamb's Bread":null,
"Laughing Buddha":null,
"Lemon Haze":null,
"Lemon Jack":null,
"Lemon G":null,
"Lemon Sativa":null,
"Lemon Thai":null,
"Mako Haze":null,
"Malawi":null,
"Mango Dream":null,
"Maui":null,
"Maui Waui":null,
"Mexican Sativa":null,
"Moby Dick":null,
"Mother's Finest":null,
"Nevil's Wreck":null,
"OCD":null,
"OG":null,
"Outer Space":null,
"Panama Red":null,
"Pandora's Box":null,
"Poison Haze":null,
"Purple Haze":null,
"Q3":null,
"Qleaner":null,
"Rafael":null,
"Red Congolese":null,
"Red Haze":null,
"Rene":null,
"Root Beer Kush":null,
"Sage N Sour":null,
"Shaman":null,
"Shangri La OG":null,
"Shipwreck":null,
"Silver Haze":null,
"Skunk #1":null,
"Sour Chocolate":null,
"Sour Diesel":null,
"Sour Flower":null,
"Sour Haze":null,
"Sour Tangie":null,
"Strawberry":null,
"Sugar Plum":null,
"Super Cat Piss":null,
"Super Green Crack":null,
"Super Silver Haze":null,
"Super Snow Dog":null,
"Super Sour Diesel":null,
"Sweet Diesel":null,
"Tangie":null,
"Thai":null,
"Thai Haze":null,
"Timewreck":null,
"Triple Diesel":null,
"Twista":null,
"Ultimate Trainwreck":null,
"Venice OG":null,
"Very Berry Haze":null,
"Voodoo":null,
"Vortex":null,
"Waipi'o Hapa":null,
"Willie Nelson":null,
"Willy Wonka":null,
"Y Griega":null,
"3X Crazy":null,
"8 Ball Kush":null,
"A-10":null,
"Abusive OG":null,
"Afghani":null,
"Afghani Bullrider":null,
"Afghan Kush":null,
"Afghan Skunk":null,
"Afgoo":null,
"Afgooey":null,
"Alien Dawg":null,
"Alien Kush":null,
"Ancient OG":null,
"Anesthesia":null,
"Aurora Indica":null,
"Banana Candy":null,
"Banana Kush":null,
"Barbara Bud":null,
"Berry Noir":null,
"Big Bud":null,
"Blackberry Hashplant":null,
"Blackberry Kush":null,
"Black Cherry Soda":null,
"Black Diamond":null,
"Black Label Kush":null,
"Blackwater":null,
"Blueberry":null,
"Blueberry Kush":null,
"Blueberry Waltz":null,
"Blue Cheese":null,
"Blue God":null,
"Blue Moonshine":null,
"Bubba Kush":null,
"Bubba OG":null,
"Buddha's Sister":null,
"Butterscotch":null,
"Candy Cane":null,
"Cactus":null,
"Cadillac Purple":null,
"Cheese Quake":null,
"Chem Scout":null,
"Cherry Kola":null,
"Chocolate Chunk":null,
"Church OG":null,
"Corleone Kush":null,
"Critical Mass":null,
"Danky Doodle":null,
"Dark Star":null,
"Darth Vader OG":null,
"Death Star":null,
"Death Star OG":null,
"Deep Purple":null,
"Denver Maple":null,
"Devil Fruit":null,
"Diablo":null,
"Diamond OG":null,
"Digweed":null,
"DJ Short Blueberry":null,
"Domino":null,
"Dynamite":null,
"Edelweiss":null,
"El Jeffe":null,
"Enigma":null,
"Endless Sky":null,
"Eran Almog":null,
"Freezeland":null,
"Frosty":null,
"Fucking Incredible":null,
"Funky Monkey":null,
"G13":null,
"Godberry":null,
"God Bud":null,
"Godfather OG":null,
"God's Gift":null,
"Gog & Magog":null,
"Granddaddy Purple":null,
"Grand Hindu":null,
"Grape Ape":null,
"Grape Crush":null,
"Grape Skunk":null,
"Gravity":null,
"G Stik RED":null,
"G Stik Violeta":null,
"Guido Kush":null,
"Gumbo":null,
"Haoma":null,
"Hashberry":null,
"Hash Plant":null,
"Hawaiian Delight":null,
"Herojuana":null,
"Hindu Kush":null,
"Hog":null,
"Hog's Breath":null,
"Hollands Hope":null,
"Ingrid":null,
"Jagermeister":null,
"Jesus OG":null,
"JT15":null,
"Jupiter Kush":null,
"Jupiter OG":null,
"K Train":null,
"Kandahar":null,
"King Kush":null,
"King Louis":null,
"Kosher Kush":null,
"Kryptonite":null,
"Kushadelic":null,
"Kush Berry":null,
"LA OG":null,
"Larry OG":null,
"Lavender Kush":null,
"Lemon OG":null,
"Lions Gate":null,
"Liquid Butter":null,
"Louis XIII":null,
"Madagascar":null,
"Mango":null,
"Maple Leaf Indica":null,
"Mars OG":null,
"Master Bubba":null,
"Master Jedi":null,
"Master Kush":null,
"Matsu":null,
"Mazar I Sharif":null,
"Mercury OG":null,
"Misty Kush":null,
"MK Ultra":null,
"Mossimo OG":null,
"Mr. Nice":null,
"Negra 44":null,
"Neptune Kush":null,
"Neptune OG":null,
"Nordle":null,
"Northern Lights":null,
"Nuggetry OG":null,
"Obama Kush":null,
"OG Eddy Lepp":null,
"Paris OG":null,
"Pennywise":null,
"Pineapple Thai":null,
"Pitbull":null,
"Platinum Bubba":null,
"Platinum Bubba Kush":null,
"Platinum Kush":null,
"Platinum OG":null,
"Platinum Purple Kush":null,
"Plushberry":null,
"Pluto Kush":null,
"Popcorn Kush":null,
"Pot of Gold":null,
"Power Kush":null,
"Presidential OG":null,
"Pure Kush":null,
"Pure OG":null,
"Purple Afghani":null,
"Purple Berry":null,
"Purple Candy":null,
"Purple Cream":null,
"Purple Dragon":null,
"Purple Goo":null,
"Purple Kush":null,
"Purple Mr. Nice":null,
"Purple Nepal":null,
"Purple OG Kush":null,
"Purple Passion":null,
"Purple Tonic":null,
"Purple Urkle":null,
"Purple Wreck":null,
"Pre-98 Bubba Kush":null,
"PVC OG":null,
"Raspberry Kush":null,
"Red Dwarf":null,
"Red Eye OG":null,
"Redwood Kush":null,
"Remedy":null,
"Rockstar":null,
"Rockstar Master Kush":null,
"Romulan":null,
"Seattle Blue":null,
"Sensi Star":null,
"Shark Shock":null,
"Silverback Gorilla":null,
"Skywalker":null,
"Snow Monster":null,
"Somango":null,
"South Central LA":null,
"Space Dawg":null,
"Strawberry Kush":null,
"Sunshine Daydream":null,
"Super Kush":null,
"Superman OG":null,
"Super Skunk":null,
"Tahoe OG":null,
"Taliban Poison":null,
"Tangerine Kush":null,
"True OG":null,
"UW":null,
"Vanilla Kush":null,
"Violator Kush":null,
"White Kush":null,
"White OG":null,
"Wonder Woman OG":null,
"Woody Kush":null,
"XXX 420":null,
"XXX OG":null,
"Yoda OG":null,
"Yumboldt":null,
"Zombie OG":null,
"ACDC":null,
"Afwreck":null,
"Alaska":null,
"Avi-Dekel":null,
"Banana Diesel":null,
"Belladonna":null,
"Blue Champagne":null,
"Blue Diamond":null,
"Blue Dream":null,
"Blue Goo":null,
"Blue Haze":null,
"Candyland":null,
"Cinderella 99":null,
"Double Dream":null,
"Dream Star":null,
"Duke Nukem":null,
"Fruit Spirit":null,
"Glass Slipper":null,
"Green Dream":null,
"Hashplant Haze":null,
"Hawaiian Fire":null,
"Hawaiian Skunk":null,
"Headbanger":null,
"Head Cheese":null,
"Hippie Crippler":null,
"Hong Kong":null,
"Huckleberry":null,
"Humboldt":null,
"J1":null,
"Jack Haze":null,
"Jack's Cleaner":null,
"Jack Widow":null,
"Jane Doe":null,
"Juliet":null,
"K1":null,
"Lemon Kush":null,
"Lemon Wreck":null,
"Lethal Purple":null,
"Loud Dream":null,
"Midnight":null,
"Mob Boss":null,
"NYC Diesel":null,
"OG Wreck":null,
"Orange Dream":null,
"Orange Haze":null,
"Pineapple Diesel":null,
"Power Plant":null,
"Pure Power Plant":null,
"Purple Ice":null,
"Sapphire Star":null,
"Silver Pearl":null,
"Silver Surfer":null,
"Smelliot":null,
"Snowcap":null,
"Sour Cream":null,
"Sour Lemon OG":null,
"Sour Power":null,
"Sour Tsunami":null,
"Stevie Wonder":null,
"Strawberry Cough":null,
"Strawberry Dream":null,
"Superstar":null,
"Sweet Island Skunk":null,
"Swiss Bliss":null,
"Tahoe OG Kush":null,
"Tangerine Haze":null,
"Thai-Tanic":null,
"The Third Dimension":null,
"The Truth":null,
"Trainwreck":null,
"White Berry":null,
"White Fire OG":null,
"White Shark":null,
"303 OG":null,
"707 Headband":null,
"Afghanica":null,
"AK-48":null,
"Albert Walker":null,
"BC Sweet Tooth":null,
"Big Sky OG":null,
"Big Wreck":null,
"Bio-Jesus":null,
"Black Domina":null,
"Black Ice":null,
"Black Mamba":null,
"Blockhead":null,
"Blue Bastard":null,
"Blueberry x Hash Plant":null,
"Blue Diesel":null,
"Blue Ivy":null,
"Blue Lights":null,
"Blue Magoo":null,
"Blue Venom":null,
"Burmese Kush":null,
"Cali Gold":null,
"Chemdawg 4":null,
"Citrus Kush":null,
"Cold Creek Kush":null,
"Confidential Cheese":null,
"Cotton Candy Kush":null,
"Critical Bilbo":null,
"Critical Haze":null,
"Dorit":null,
"Dr. Who":null,
"Early Girl":null,
"Elderberry Kush":null,
"Erez":null,
"Flowerbomb Kush":null,
"God's Treat":null,
"Hells Angel OG":null,
"Ice Cream":null,
"Jasmin or Yasmin":null,
"Lifesaver":null,
"Little Devil":null,
"LVPK":null,
"Manitoba Poison":null,
"Master Skunk":null,
"Matanuska Thunder Fuck":null,
"Millennium":null,
"Or":null,
"Papaya":null,
"Pineapple Chunk":null,
"Pink Kush":null,
"Pink Pez":null,
"Rascal OG":null,
"Shiva Skunk":null,
"Skywalker OG":null,
"Snoop's Dream":null,
"Sour Apple":null,
"Sugar Shack":null,
"Sunset Sherbert":null,
"Supernova":null,
"The White":null,
"Tres Dawg":null,
"Venom OG":null,
"Warlock":null,
"White Lightning":null,
"$100 OG":null,
"3 Kings":null,
"Ace of Spades":null,
"Afghan Big Bud":null,
"Afghan Diesel":null,
"Afghooey":null,
"Agent Orange":null,
"AK-47":null,
"Alien OG":null,
"Alohaberry":null,
"Alpha OG":null,
"Ambrosia":null,
"Animal Cookies":null,
"Apollo 11":null,
"Apollo 13":null,
"Appalachia":null,
"Armageddon":null,
"Atomic Northern Lights":null,
"A-Train":null,
"Avalon":null,
"Banana OG":null,
"BC Roadkill":null,
"Berry White":null,
"Big Buddha Cheese":null,
"Bio-Diesel":null,
"Black Dahlia":null,
"Black Jack":null,
"Black Tuna":null,
"Black Velvet":null,
"Black Widow":null,
"Blueberry Cheesecake":null,
"Blueberry Haze":null,
"Blueberry Headband":null,
"Blue Boy":null,
"Blue Dragon":null,
"Blue Hawaiian":null,
"Blue Mystic":null,
"Blue OG":null,
"Blue Rhino":null,
"Blue Train":null,
"Blue Widow":null,
"Boggle Gum":null,
"Bordello":null,
"Boysenberry":null,
"Brains Damage":null,
"Broke Diesel":null,
"Bruce Banner #3":null,
"Bubbleberry":null,
"Bubblegum":null,
"Bubblegun":null,
"C13 Haze":null,
"Cali Kush":null,
"Calm":null,
"Cannadential":null,
"Cannatonic":null,
"Caramelicious":null,
"Casey Jones":null,
"Cataract Kush":null,
"Champagne Kush":null,
"Cheese":null,
"Chem Crush":null,
"Chemdawg":null,
"Chernobyl":null,
"Cherry AK-47":null,
"Cherry Bomb":null,
"Cherry Kush":null,
"Cherry Limeade":null,
"Cherry Pie":null,
"Chiesel":null,
"Chocolate Kush":null,
"Cinex":null,
"Colorado Chem":null,
"Connie Chung":null,
"Cookies and Cream":null,
"Crimea Blue":null,
"Dairy Queen":null,
"Deadhead OG":null,
"Diesel Duff":null,
"Dieseltonic":null,
"Dogwalker OG":null,
"Donna OG":null,
"Dopium":null,
"Dreadlock":null,
"Dream Queen":null,
"Durban Cheese":null,
"Dutch Treat":null,
"Euphoria":null,
"Earth OG":null,
"Earthquake":null,
"Ed Rosenthal Super Bud":null,
"El-Na":null,
"El Niño":null,
"Ewok":null,
"Exodus Cheese":null,
"Fire OG":null,
"Flourish":null,
"Fruity Pebbles":null,
"Ghost OG":null,
"Girl Scout Cookies":null,
"Goldberry":null,
"Golden Goat":null,
"Gorilla Glue #4":null,
"Grand Hustle":null,
"Grapefruit Diesel":null,
"Grapefruit Haze":null,
"Grapefruit Kush":null,
"Grape God":null,
"Grape Kush":null,
"Green Door Kush":null,
"Green Hornet":null,
"Green Monster":null,
"Green Queen":null,
"Green Ribbon":null,
"G Stik Orange":null,
"G Stik Verde":null,
"Guava Chem":null,
"Guava Kush":null,
"Harlequin":null,
"Harmony":null,
"Hawaiian Punch":null,
"Hawaiian Thunder Fuck":null,
"Headband":null,
"Heavy Duty Fruity":null,
"Himalayan Gold":null,
"Hindu Skunk":null,
"Holistic":null,
"Holy Grail Kush":null,
"Ice":null,
"Jah Kush":null,
"Jack Flash":null,
"Jack Frost":null,
"Jack Kush":null,
"Jack the Ripper":null,
"Jilly Bean":null,
"Juicy Fruit":null,
"Julius Caesar":null,
"Kahuna":null,
"Key Lime Haze":null,
"Khola":null,
"Killer Queen":null,
"Kimbo Kush":null,
"King Kong":null,
"Kushage":null,
"Kushashima":null,
"Kushberry":null,
"LA Jack":null,
"Lambo OG":null,
"LAPD":null,
"LA Woman":null,
"Lavender":null,
"Lemon Diesel":null,
"Lemon Drop":null,
"Lemon Skunk":null,
"Lemon Walker OG":null,
"Liberty Haze":null,
"Lowryder":null,
"LSD":null,
"Lucky Charms":null,
"M-39":null,
"Mad Dog":null,
"Mango Kush":null,
"Maui Berry":null,
"Martian Mean Green":null,
"Master Yoda":null,
"Medicine Man":null,
"Mendocino Purps":null,
"Mother's Helper":null,
"Nebula":null,
"Neville's Haze":null,
"Northern Lights #5":null,
"Northern Skunk":null,
"Odyssey":null,
"OG Diesel Kush":null,
"OGiesel":null,
"OG Kush":null,
"OG Poison":null,
"OG Shark":null,
"Old Lyme Connecticut OG":null,
"Orange Bud":null,
"Orange Crush":null,
"Orange Diesel":null,
"Orange Kush":null,
"Orange Skunk":null,
"Orange Velvet":null,
"Organic Diesel":null,
"P-91":null,
"Permafrost":null,
"Pineapple":null,
"Pineapple Express":null,
"Pineapple Kush":null,
"Platinum Girl Scout Cookies":null,
"Purple AK-47":null,
"Purple Arrow":null,
"Purple Diesel":null,
"Purple Dream":null,
"Purple Hashplant":null,
"Purple Jack":null,
"Purple Princess":null,
"Purple Sage":null,
"Purple Sour Diesel":null,
"Purple Trainwreck":null,
"Purple Voodoo":null,
"Qrazy Train":null,
"Quebec Gold":null,
"Querkle":null,
"Rainbow":null,
"Recon":null,
"Red Cherry Berry":null,
"Redding OG":null,
"Richie Rich":null,
"Rocklock":null,
"Romping Goddess":null,
"Romulan Grapefruit":null,
"Royal Dwarf":null,
"Royal Kush":null,
"Russian Rocket Fuel":null,
"SAGE":null,
"Saturn OG":null,
"SFV OG":null,
"Sharksbreath":null,
"Shiatsu Kush":null,
"Shishkaberry":null,
"Shoreline":null,
"Sierra Mist":null,
"Skunky Diesel":null,
"Sky Dog":null,
"Snow White":null,
"Sour Cheese":null,
"Sour Dream":null,
"Sour Grape":null,
"Sour Grapes":null,
"Sour Jilly":null,
"Sour Kush":null,
"Sour OG":null,
"Space Bomb":null,
"Space Queen":null,
"Stardawg":null,
"Starry Night":null,
"Strawberry Banana":null,
"Strawberry Diesel":null,
"Super Blue Dream":null,
"Super Lemon Haze":null,
"Super Sour Widow":null,
"Sweet Kush":null,
"Sweet Tooth":null,
"Tangerine Dream":null,
"Thaidal Wave":null,
"THC Bomb":null,
"The Flav":null,
"The Void":null,
"Thin Mint Girl Scout Cookies":null,
"Tiger Woods":null,
"Tranquil":null,
"Trident":null,
"Trifecta":null,
"Tropicali":null,
"Tropical Tang":null,
"UK Cheese":null,
"Unwind":null,
"Verde Electric":null,
"Waldo":null,
"Walrus Kush":null,
"White Dawg":null,
"White Fire Alien OG":null,
"White Queen":null,
"White Rhino":null,
"White Russian":null,
"White Widow":null,
"White Zombie":null,
"Willy's Wonder":null,
"Wonder Haze":null,
"Wonder Woman":null,
"Wonka's Bubblicious":null,
"XJ-13":null,

        },
      });
    });

     $(document).ready(function(){
    $('select').formSelect();
    $('.sidenav').sidenav();
  });
  
  $("#submit").on("click",function(event){
   event.preventDefault();
    $.post("/notes",{
      name: $(".strain").val(),
      dispensary: $("#dispensary").val(),
      notes:$("#notes").val(),
      species:$(".species").val(),
      method:$(".method").val()
      
    }),function(data){
    ;
    }
  })
    </script>
</body>

</html>