<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weed Diary</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/styles/main.css"/>
    <link rel="stylesheet" href="/assets/styles/nouislider.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette|Satisfy|Sofia&display=swap" rel="stylesheet">
</head>

<body> {{> nav}}
    <div class="container centered">
       
        {{{ body }}}
    </div>
    
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>    
    <script src="/assets/styles/nouislider.js"></script>
    <script type="text/javascript">
    
    $(document).ready(function(){
    $('input.strainAuto').autocomplete({
      data: {
        
"100 Og":null,
"98 White Widow":null,
"1024":null,
"13 Dawgs":null,
"24K Gold":null,
"3 Bears Og":null,
"3 Kings":null,
"303 Og":null,
"3D Cbd":null,
"3X Crazy":null,
"3Rd Coast Panama Chunk":null,
"501St Og":null,
"5Th Element":null,
"707 Headband":null,
"8 Ball Kush":null,
"818 Og":null,
"831 Og":null,
"9 Pound Hammer":null,
"91 Krypt":null,
"A 10":null,
"A Dub":null,
"A Train":null,
"Acdc":null,
"Ak 47":null,
"Ak 48":null,
"Aberdeen":null,
"Abusive Og":null,
"Acapulco Gold":null,
"Ace Killer Og":null,
"Ace Of Spades":null,
"Aceh":null,
"Acid":null,
"Acid Dough":null,
"Afcrack":null,
"Afghan Big Bud":null,
"Afghan Cow":null,
"Afghan Diesel":null,
"Afghan Hawaiian":null,
"Afghan Haze":null,
"Afghan Kush":null,
"Afghan Skunk":null,
"Afghan Sour Kush":null,
"Afghan Widow":null,
"Afghani":null,
"Afgahni Bullrider":null,
"Afghani Cbd":null,
"Afghanica":null,
"Afghanimal":null,
"Afghooey":null,
"Afgoo":null,
"Afgooey":null,
"Afkansastan":null,
"Afpak":null,
"African":null,
"Afrikaner":null,
"Afternoon Delight":null,
"Afwreck":null,
"Agent Orange":null,
"Agent Tangie":null,
"Air Jordan Og":null,
"Als Dream":null,
"Alaska":null,
"Alaska Thunder Grape":null,
"Alaskan Ice":null,
"Alaskan Thunder Fuck":null,
"Albert Walker":null,
"Alchemy":null,
"Alf":null,
"Alice In Wonderland":null,
"Alien Abduction":null,
"Alien Apparition":null,
"Alien Asshat":null,
"Alien Bubba":null,
"Alien Dawg":null,
"Alien Dutchess":null,
"Alien Hallucination":null,
"Alien Inferno":null,
"Alien Kush":null,
"Alien Og":null,
"Alien Reunion":null,
"Alien Rift":null,
"Alien Rock Candy":null,
"Alien Sour Apple":null,
"Alien Stardawg":null,
"Alien Technology":null,
"Aliens On Moonshine":null,
"Allen Iverson Og":null,
"Allen Wrench":null,
"Allkush":null,
"Aloha":null,
"Aloha Grape Stomper":null,
"Aloha Limone":null,
"Alohaberry":null,
"Alpha Blue":null,
"Alpha Cow":null,
"Alpha Express":null,
"Alpha Og":null,
"Alpine Blue":null,
"Alpine Star":null,
"Ambrosia":null,
"American Dream":null,
"American Kush":null,
"Americano":null,
"Amethyst":null,
"Amethyst Bud":null,
"Amnesia":null,
"Amnesia Ganja Haze":null,
"Amnesia Haze":null,
"Ancient Kush":null,
"Ancient Og":null,
"Anesthesia":null,
"Angel Og":null,
"Animal Cookies":null,
"Anonymous Og":null,
"Anubis":null,
"Ape Shit":null,
"Apollo 11":null,
"Apollo 13":null,
"Appalachia":null,
"Appalachian Power":null,
"Apple Jack":null,
"Apple Kush":null,
"Appleberry":null,
"Arabian Gold":null,
"Arctic Sun":null,
"Arcticblue":null,
"Area 51":null,
"Argyle":null,
"Arjans Strawberry Haze":null,
"Arjans Ultra Haze 1":null,
"Armageddon":null,
"Armagnac":null,
"Ash":null,
"Asian Fantasy":null,
"Aspen Og":null,
"Astroboy":null,
"Athabasca":null,
"Atmosphere":null,
"Atomic":null,
"Atomic Goat":null,
"Atomic Northern Lights":null,
"Atomical Haze":null,
"Aurora Borealis":null,
"Aurora Indica":null,
"Avalon":null,
"Avi":null,
"Avi Dekel":null,
"Ayahuasca Purple":null,
"Azure Haze":null,
"B 52":null,
"B Witched":null,
"B Witched":null,
"Bb King":null,
"B4":null,
"Bc Big Bud":null,
"Bc Roadkill":null,
"Bc Sweet Tooth":null,
"Bcn Diesel":null,
"Bog Bubble":null,
"Bsc":null,
"Bad Azz Kush":null,
"Bakerstreet":null,
"Balmoral":null,
"Banana Candy":null,
"Banana Cream Og":null,
"Banana Diesel":null,
"Banana Kush":null,
"Banana Og":null,
"Banana Peel":null,
"Bananas":null,
"Bandana":null,
"Bangi Haze":null,
"Bango":null,
"Barbara Bud":null,
"Batgirl":null,
"Batman Og":null,
"Bay 11":null,
"Bay Dream":null,
"Bear Dance":null,
"Beast Mode 20":null,
"Beast Mode Og":null,
"Bedford Glue":null,
"Bedica":null,
"Bediol":null,
"Bell Ringer":null,
"Belladonna":null,
"Berkeley":null,
"Bermuda Sour":null,
"Berry Bomb":null,
"Berry Larry":null,
"Berry Noir":null,
"Berry Og":null,
"Berry White":null,
"Berts Cookie Dough":null,
"Bertberry Cheesecake":null,
"Bettie Page":null,
"Bianca":null,
"Biddy Early":null,
"Big Band":null,
"Big Bang":null,
"Big Bud":null,
"Big Budda Cheese":null,
"Big Holy Nina":null,
"Big Kush":null,
"Big Mac":null,
"Big Skunk Korean":null,
"Big Sky Og":null,
"Big Smooth":null,
"Big Sur Holy Bud":null,
"Big White":null,
"Big Wreck":null,
"Biker Leblanc":null,
"Bio Diesel":null,
"Bio Jesus":null,
"Biochem":null,
"Birds Eye":null,
"Birthday Cake Kush":null,
"Black 84":null,
"Black Afghan":null,
"Black Betty":null,
"Black Bubba":null,
"Black Cherry Cheesecake":null,
"Black Cherry Og":null,
"Black Cherry Pie":null,
"Black Cherry Soda":null,
"Black Dhalia":null,
"Black Diamond":null,
"Black Diesel":null,
"Black Domina":null,
"Black Haze":null,
"Black Ice":null,
"Black Jack":null,
"Black Label Kush":null,
"Black Larry Bird":null,
"Black Lime Special Reserve":null,
"Black Magic":null,
"Black Magic Kush":null,
"Black Mamba":null,
"Black Roses":null,
"Black Russian":null,
"Black Tuna":null,
"Black Velvet":null,
"Black Widow":null,
"Blackberry":null,
"Blackberry Bubble":null,
"Blackberry Chem Og":null,
"Blackberry Cream":null,
"Blackberry Diesel":null,
"Blackberry Dream":null,
"Blackberry Fire":null,
"Blackberry Hashplant":null,
"Blackberry Haze":null,
"Blackberry Kush":null,
"Blackberry Lime Haze":null,
"Blackberry Pie":null,
"Blackberry Rhino":null,
"Blackberry Trainwreck":null,
"Blackberry X Blueberry":null,
"Blackwater":null,
"Blaze":null,
"Blissful Wizard":null,
"Blizzard Bush":null,
"Blob Og":null,
"Blockhead":null,
"Bloos Kloos":null,
"Blood Orange Kush":null,
"Bloodhound":null,
"Blowfish":null,
"Blucifer":null,
"Blue Afghani":null,
"Blue Alien":null,
"Blue Bastard":null,
"Blue Bayou":null,
"Blue Blood":null,
"Blue Boy":null,
"Blue Buddha":null,
"Blue Champange":null,
"Blue Cheese":null,
"Blue Cinex":null,
"Blue Cookies":null,
"Blue Crack":null,
"Blue Diamond":null,
"Blue Diesel":null,
"Blue Dot":null,
"Blue Dragon":null,
"Blue Dream":null,
"Blue Dynamite":null,
"Blue Frost":null,
"Blue Galaxy":null,
"Blue God":null,
"Blue Goo":null,
"Blue Hash":null,
"Blue Hawaiian":null,
"Blue Haze":null,
"Blue Heron":null,
"Blue Ivy":null,
"Blue Jay Way":null,
"Blue Kiss":null,
"Blue Knight":null,
"Blue Kripple":null,
"Blue Kush":null,
"Blue Lights":null,
"Blue Magic":null,
"Blue Magoo":null,
"Blue Monster":null,
"Blue Moon Rocks":null,
"Blue Moonshine":null,
"Blue Mountain Fire":null,
"Blue Mystic":null,
"Blue Nightmare":null,
"Blue Nina":null,
"Blue Og":null,
"Blue Ox":null,
"Blue Persuasion":null,
"Blue Power":null,
"Blue Rhino":null,
"Blue Satellite":null,
"Blue Sky":null,
"Blue Steel":null,
"Blue Thai":null,
"Blue Train":null,
"Blue Trane":null,
"Blue Treat":null,
"Blue Velvet":null,
"Blue Venom":null,
"Blue Widow":null,
"Blue Wonder":null,
"Blue Wreck":null,
"Blue Zkittlez":null,
"Blue Zombie":null,
"Blueberry":null,
"Blueberry Ak":null,
"Blueberry Blast":null,
"Blueberry Bomb":null,
"Blueberry Cheesecake":null,
"Blueberry Diesel":null,
"Blueberry Dream":null,
"Blueberry Essence":null,
"Blueberry Haze":null,
"Blueberry Headband":null,
"Blueberry Jack":null,
"Blueberry Kush":null,
"Blueberry Lambsbread":null,
"Blueberry Muffins":null,
"Blueberry Og":null,
"Blueberry Pancakes":null,
"Blueberry Pie":null,
"Blueberry Silvertip":null,
"Blueberry Skunk":null,
"Blueberry Space Cake":null,
"Blueberry Trainwreck":null,
"Blueberry Triple Og":null,
"Blueberry Waltz":null,
"Blueberry Yum Yum":null,
"Blues":null,
"Blukashima":null,
"Bluniverse":null,
"Blurple":null,
"Blush":null,
"Bob Saget":null,
"Bodega Bubblegum":null,
"Bogart":null,
"Boggle Gum":null,
"Booger":null,
"Boombaye":null,
"Bootlegger":null,
"Bordello":null,
"Boss Hogg":null,
"Boysenberry":null,
"Brain Candy":null,
"Brains Damage":null,
"Brainstorm Haze":null,
"Brainwreck":null,
"Brand X":null,
"Brandywine":null,
"Brazil Amazonia":null,
"Brian Berry Cough":null,
"Bright Fire":null,
"Bright Moments":null,
"Broke Diesel":null,
"Bronze Whaler":null,
"Brooklyn Mango":null,
"Bruce Banner":null,
"Bruce Banner 3":null,
"Bubba Berry":null,
"Bubba Doja":null,
"Bubba Fresh":null,
"Bubba Hash":null,
"Bubba Kush":null,
"Bubba Og":null,
"Bubba Tom Hayes":null,
"Bubba X Skunk":null,
"Bubbas Bitch":null,
"Bubbas Gift":null,
"Bubble Cheese":null,
"Bubble Gum":null,
"Bubbleberry":null,
"Bubblegum Kush":null,
"Bubblegun":null,
"Bubblicious":null,
"Buckeye Purple":null,
"Buddha Haze":null,
"Buddha Tahoe":null,
"Buddhas Hand":null,
"Buddhas Sister":null,
"Buffalo Bill":null,
"Bugatti Og":null,
"Burkle":null,
"Burmese Kush":null,
"Burnt Cookies":null,
"Butter Og":null,
"Butterscotch":null,
"C13 Haze":null,
"C3":null,
"C3Po":null,
"C4":null,
"Cbd Blue Shark":null,
"Cbd Critical Cure":null,
"Cbd Critical Mass":null,
"Cbd Kush":null,
"Cbd Lilly":null,
"Cbd Mango Haze":null,
"Cbd Ox":null,
"Cbd Rich Blessing":null,
"Cbd Shark":null,
"Chr Super Og":null,
"Cabbage Patch":null,
"Cackleberry":null,
"Cactus":null,
"Cactus Cooler":null,
"Cadillac Purple":null,
"Cali Gold":null,
"Cali Jack":null,
"Cali Kush":null,
"California Grapefruit":null,
"California Hash Plant":null,
"California Orange":null,
"California Sour":null,
"Calyx Og":null,
"Cambodian":null,
"Cambodian Haze":null,
"Candy Cane":null,
"Candy Jack":null,
"Candyland":null,
"Canna Tsu":null,
"Cannasutra":null,
"Cannadential":null,
"Cannalope Haze":null,
"Cannalope Kush":null,
"Cannatonic":null,
"Capers":null,
"Capleton":null,
"Captain America Og":null,
"Captains Cake":null,
"Caramel Candy Kush":null,
"Caramel Kona Coffee Cookies":null,
"Caramel Kona Coffee Kush":null,
"Caramelicious":null,
"Caramella":null,
"Caramelo":null,
"Carl Sagan":null,
"Carnival":null,
"Cascadia Kush":null,
"Casey Jones":null,
"Cashus Clay":null,
"Casper Og":null,
"Cat Piss":null,
"Cataract Kush":null,
"Catfish":null,
"Cello Sweet Og":null,
"Central American":null,
"Cerebro Haze":null,
"Chairman Chem Sou":null,
"Champagne Kush":null,
"Charlie Sheen":null,
"Charlottes Web":null,
"Cheese":null,
"Cheese Candy":null,
"Cheese Quake":null,
"Cheeseburger":null,
"Cheesewreck":null,
"Chem Crush":null,
"Chem Dog":null,
"Chem Jack":null,
"Chem Jong Ill":null,
"Chem Scout":null,
"Chem Valley Kush":null,
"Chems Sister":null,
"Chemwreck":null,
"Chemdawg":null,
"Chemdawg 4 X Alien Og Kush":null,
"Chemdawg 4":null,
"Chemdawg 91":null,
"Chemdawg Sour Diesel":null,
"Chemmy Jones":null,
"Chemnesia":null,
"Chemo":null,
"Cherwillie":null,
"Chernobyl":null,
"Cherries Jubilee":null,
"Cherry Ak 47":null,
"Cherry Bomb":null,
"Cherry Cookies":null,
"Cherry Cream Pie":null,
"Cherry Diesel":null,
"Cherry Durban Poison":null,
"Cherry Fire":null,
"Cherry Grapefruit":null,
"Cherry Kola":null,
"Cherry Kush":null,
"Cherry Limeade":null,
"Cherry Og":null,
"Cherry Pie":null,
"Cherry Pie Kush":null,
"Cherry Sauce":null,
"Cherry Sherbet":null,
"Cherry Skunk":null,
"Cherry Slyder":null,
"Cherry Thunder Fuck":null,
"Chicle":null,
"Chiesel":null,
"China Yunnan":null,
"Chiquita Banana":null,
"Chloe":null,
"Chocoholic":null,
"Chocolate Chunk":null,
"Chocolate Diesel":null,
"Chocolate Drop":null,
"Chocolate Fondue":null,
"Chocolate Hashberry":null,
"Chocolate Kush":null,
"Chocolate Meringue":null,
"Chocolate Og":null,
"Chocolate Rain":null,
"Chocolate Sap":null,
"Chocolate Thai":null,
"Chocolate Thunder":null,
"Chocolate Tonic":null,
"Chocolope":null,
"Chocolope Kush":null,
"Chong Star":null,
"Chronic":null,
"Chronic Thunder":null,
"Chuckys Bride":null,
"Chunky Diesel":null,
"Chupacabra":null,
"Church Og":null,
"Cinderella 99":null,
"Cinderellas Dream":null,
"Cindy White":null,
"Cinex":null,
"Cirrus":null,
"Citrix":null,
"Citrus Kush":null,
"Citrus Punch":null,
"Citrus Sap":null,
"Citrus Sunshine Haze":null,
"Clementine":null,
"Clementine Kush":null,
"Clementines Terpentine":null,
"Clockwork Orange":null,
"Cloud 9":null,
"Club 69":null,
"Cluster Bomb":null,
"Coconut Oil":null,
"Cold Creek Kush":null,
"Colombian Gold":null,
"Colombian Mojito":null,
"Colorado Bubba":null,
"Colorado Chem":null,
"Colorado Clementines":null,
"Commerce City Kush":null,
"Concord Grape Blockhead":null,
"Confidential Cheese":null,
"Confidential Wreck":null,
"Congo":null,
"Connie Chung":null,
"Conspiracy Kush":null,
"Cookie Breath":null,
"Cookie Dough":null,
"Cookie Jar":null,
"Cookie Monster":null,
"Cookie Wreck":null,
"Cookies Kush":null,
"Cookies And Cream":null,
"Cookies And Dream":null,
"Copper Kush":null,
"Corleone Kush":null,
"Cornbread":null,
"Cosmic Collision":null,
"Cotton Candy Kush":null,
"Cotton Purple Chem":null,
"Cowboy Kush":null,
"Cracker Jack":null,
"Crater Lake":null,
"Crazy Miss Hyde":null,
"Cream Caramel":null,
"Crimea Blue":null,
"Critical 47":null,
"Critical Bilbo":null,
"Critical Cheese":null,
"Critical Haze":null,
"Critical Hog":null,
"Critical Jack":null,
"Critical Kali Mist":null,
"Critical Kush":null,
"Critical Mass":null,
"Critical Plus":null,
"Critical Plus 20":null,
"Critical Sensi Star":null,
"Critical Skunk":null,
"Critical Widow":null,
"Critters Cookies":null,
"Cronuts":null,
"Crosswalker":null,
"Crouching Tiger Hidden Alien":null,
"Crown Og":null,
"Crown Royale":null,
"Crunch Berry Kush":null,
"Crypt":null,
"Crystal Coma":null,
"Crystal Gayle":null,
"Crystalberry":null,
"Cuvee":null,
"Dj Andy Williams":null,
"Dj Short Blueberry":null,
"Dj Smoke":null,
"Dairy Queen":null,
"Dakini Kush":null,
"Damn Sour":null,
"Damnesia":null,
"Dance World":null,
"Dancehall":null,
"Dank Schrader":null,
"Dank Sinatra":null,
"Double D":null,
"Dark Blue Dream":null,
"Dark Side Of The Moon":null,
"Dark Star":null,
"Darkside Og":null,
"Darth Vader Og":null,
"Dawgs Waltz":null,
"Dawgfather Og":null,
"Day Tripper":null,
"Deadhead Og":null,
"Deadwood":null,
"Death Bubba":null,
"Death Star":null,
"Deathstar Og":null,
"Deep Cheese":null,
"Deep Chunk":null,
"Deep Purple":null,
"Deep Sleep":null,
"Delahaze":null,
"Denver Maple":null,
"Desert Star":null,
"Destroyer":null,
"Devil Fruit":null,
"Devils Tit":null,
"Diablo":null,
"Diamond Og":null,
"Diamond Socks":null,
"Diamond Valley Kush":null,
"Diesel Duff":null,
"Dieseltonic":null,
"Digweed":null,
"Dinachem":null,
"Dirty Girl":null,
"Dirty Old Bastard":null,
"Dirty Widow":null,
"Disney Blue":null,
"Dizzy Og":null,
"Django":null,
"Do Over Og":null,
"Do Si Dos":null,
"Doctor Doctor":null,
"Dog Shit":null,
"Dogwalker Og":null,
"Dolla Sign Og Kush":null,
"Domino":null,
"Don Shula":null,
"Donegal":null,
"Donna Og":null,
"Doobiebird Daydream":null,
"Doox":null,
"Dopium":null,
"Dorit":null,
"Double Barrel Og":null,
"Double Diesel":null,
"Double Dream":null,
"Double Dutch":null,
"Double Mint":null,
"Double Og":null,
"Double Purple Doja":null,
"Double Tangie Banana":null,
"Double Tap":null,
"Dougs Varin":null,
"Dr Bubbles":null,
"Dr Feelgood":null,
"Dr Funk":null,
"Dr Grinspoon":null,
"Dr Quantum":null,
"Dr Who":null,
"Dragon Og":null,
"Dragons Breath":null,
"Dreadlock":null,
"Dream Beaver":null,
"Dream Berry":null,
"Dream Lotus":null,
"Dream Police":null,
"Dream Queen":null,
"Dream Star":null,
"Dreamers Glass":null,
"Drizella":null,
"Duke Nukem":null,
"Durban Berry":null,
"Durban Cheese":null,
"Durban Cookies":null,
"Durban Poison":null,
"Durga Mata":null,
"Dutch Crunch":null,
"Dutch Dragon":null,
"Dutch Hawaiian":null,
"Dutch Haze":null,
"Dutch Kush":null,
"Dutch Queen":null,
"Dutch Thunder Fuck":null,
"Dutch Treat":null,
"Dutch Treat Haze":null,
"Dutchberry":null,
"Dynamite":null,
"Early Girl":null,
"Early Miss":null,
"Early Pearl":null,
"Early Skunk":null,
"Earth Og":null,
"Earthquake":null,
"Earthshaker Og":null,
"East Coast Alien":null,
"East Coast Sour Diesel":null,
"Eastern European":null,
"Easy Bud":null,
"Easy Peezy":null,
"Ebola 7":null,
"Ecto Cooler":null,
"Ed Rosenthal Super Bud":null,
"Edelweiss":null,
"El Chapo Og":null,
"El Jeffe":null,
"El Nino":null,
"El Perro":null,
"El Na":null,
"Elderberry Kush":null,
"Electric Black Mamba":null,
"Electric Kool Aid":null,
"Electric Lemon G":null,
"Electric Lemonade":null,
"Elephant":null,
"Elmers Glue":null,
"Elphinstone":null,
"Elvis":null,
"Emerald Jack":null,
"Emerald Og":null,
"Emperor Cookie Dough":null,
"Endless Sky":null,
"Enemy Of The State":null,
"Enigma":null,
"Eran Almog":null,
"Erdpurt":null,
"Erez":null,
"Ether":null,
"Ethiopian":null,
"Euphoria":null,
"Eugene Cream":null,
"Euphoria Cookies":null,
"Everlast":null,
"Ewok":null,
"Exodus Cheese":null,
"Extreme Cream":null,
"Extreme Og":null,
"Fn Louzer":null,
"Face Off Og":null,
"Fallen Angel":null,
"False Teeth":null,
"Fast Eddy":null,
"Fat Axl":null,
"Fat Nelson":null,
"Fat Purple":null,
"Faygo Red Pop":null,
"Fighting Buddha":null,
"Fire Alien Kush":null,
"Fire Alien Strawberry":null,
"Fire Haze":null,
"Fire Og":null,
"Firewalker Og":null,
"First 48":null,
"Flaming Cookies":null,
"Flo":null,
"Flo Limone":null,
"Flo Og":null,
"Flo Walker":null,
"Flowerbomb Kush":null,
"Flowers For Algernon":null,
"Forbidden Fruit":null,
"Fortune Cookies":null,
"Four Cups":null,
"Four Star General":null,
"Four Way":null,
"Franks Gift":null,
"Frankenstein":null,
"Fred Flipn Stoned":null,
"Freezeland":null,
"Frida":null,
"Frisian Dew":null,
"Frisian Duck":null,
"Frostbite":null,
"Frosted Freak":null,
"Frosty":null,
"Frosty Jesus":null,
"Fruit Loops":null,
"Fruit Punch":null,
"Fruit Spirit":null,
"Fruity Chronic Juice":null,
"Fruity Pebbles":null,
"Fruity Widow":null,
"Fruitylicious":null,
"Fucking Incredible":null,
"Full Moon":null,
"Funfetti":null,
"Funky Monkey":null,
"Future":null,
"G Force":null,
"Goat":null,
"G 13":null,
"G13 Diesel":null,
"G13 Haze":null,
"G13 Widow":null,
"Gg 1":null,
"Gg 4":null,
"Gg 5":null,
"Gi 001":null,
"Griz Kush":null,
"Gsc":null,
"Gto":null,
"Gabriel Sherbet":null,
"Galactic Jack":null,
"Galactica Og":null,
"Game Changer":null,
"Gandalf Og":null,
"Ganesh Berry":null,
"Garlic Bud":null,
"Gas Mask":null,
"Gatekeeper Og":null,
"Gelato":null,
"Gemstone":null,
"Georgia Pine":null,
"Ghost Bubba":null,
"Ghost Cookies":null,
"Ghost Og":null,
"Ghost Og Moonshine":null,
"Ghost Ship":null,
"Ghost Train Haze":null,
"Gigabud":null,
"Ginger Ale":null,
"Glad Max":null,
"Glass Apple":null,
"Glass Slipper":null,
"Glue Tech":null,
"Go Time":null,
"Gobbilygoo":null,
"Gobbstopper":null,
"God Bud":null,
"Gods Gift":null,
"Gods Green Crack":null,
"Godberry":null,
"Godfather Og":null,
"Godfather Purple Kush":null,
"Godzilla":null,
"Godzilla Blood":null,
"Godzilla Glue":null,
"Gods Bubba":null,
"Gods Treat":null,
"Gog Magog":null,
"Goji Diesel":null,
"Goji Og":null,
"Gold Kings Thai":null,
"Goldberry":null,
"Golden Calyx":null,
"Golden Gage":null,
"Golden Goat":null,
"Golden Lemon":null,
"Golden Nugget":null,
"Golden Panda":null,
"Golden Pineapple":null,
"Golden Soda":null,
"Golden State Banana":null,
"Golden Tangie":null,
"Golden Ticket":null,
"Golden Tiger":null,
"Goldwing":null,
"Goo":null,
"Gooberry":null,
"Good Medicine":null,
"Gorilla Biscuit":null,
"Gorilla Cookies":null,
"Gorilla Grips":null,
"Gorkle":null,
"Government Mule":null,
"Grand Doggy Purps":null,
"Grand Hindu":null,
"Grand Hustle":null,
"Granddaddy Purple":null,
"Grandmas Batch":null,
"Grandmas Sugar Cookies":null,
"Grandpa Larry Og":null,
"Grandpas Breath":null,
"Grape Ape":null,
"Grape Calyx":null,
"Grape Cookies":null,
"Grape Crush":null,
"Grape Dawg":null,
"Grape Drink":null,
"Grape God":null,
"Grape Inferno":null,
"Grape Krush":null,
"Grape Kush":null,
"Grape Ox":null,
"Grape Skunk":null,
"Grape Soda":null,
"Sour Grapes":null,
"Grape Valley Kush":null,
"Grapefruit":null,
"Grapefruit Diesel":null,
"Grapefruit Haze":null,
"Grapefruit Kush":null,
"Gravity":null,
"Grease Monkey":null,
"White Shark":null,
"Green Avenger":null,
"Green Candy":null,
"Green Cheese":null,
"Green Crack":null,
"Green Crack Extreme":null,
"Green Door Kush":null,
"Green Dragon":null,
"Green Dream":null,
"Green Goblin":null,
"Green Goddess":null,
"Green Haze":null,
"Green Hornet":null,
"Green Kush":null,
"Green Lantern":null,
"Green Line Og":null,
"Green Love Potion":null,
"Green Mango":null,
"Green Monster":null,
"Green Poison":null,
"Green Python":null,
"Green Queen":null,
"Green Ribbon":null,
"Gremlin":null,
"Grilled Cheese":null,
"Grimace":null,
"Grimace Og":null,
"Grimmdica":null,
"Guard Dawg":null,
"Guava Chem":null,
"Guava Gelato":null,
"Guava Kush":null,
"Gucci Og":null,
"Guido Kush":null,
"Gumbo":null,
"Gummo":null,
"Gummy Bears":null,
"Gupta Haze":null,
"Gupta Kush":null,
"Guptilla":null,
"Gutbuster":null,
"Hades Haze":null,
"Haleighs Hope":null,
"Hammerhead":null,
"Hannibal Nectar":null,
"Haole":null,
"Haoma":null,
"Haoma Mist":null,
"Hardcore Og":null,
"Harle Tsu":null,
"Harlequin":null,
"Harlequin Gdp":null,
"Harley Storm":null,
"Harley Twin":null,
"Harmonia":null,
"Harmony":null,
"Harry Potter":null,
"Hash Plant":null,
"Hashbar Og":null,
"Hashberry":null,
"Hashplant Haze":null,
"Hawaiian":null,
"Hawaiian Cookies":null,
"Hawaiian Delight":null,
"Hawaiian Diesel":null,
"Hawaiian Dream":null,
"Hawaiian Fire":null,
"Hawaiian Haze":null,
"Hawaiian Mayan Gold":null,
"Hawaiian Punch":null,
"Hawaiian Purple Kush":null,
"Hawaiian Sativa":null,
"Hawaiian Skunk":null,
"Hawaiian Snow":null,
"Hawaiian Sunrise":null,
"Hawaiian Thunder Fuck":null,
"Hawaiian Trinity":null,
"Hawaii 78":null,
"Hayleys Haze":null,
"Haze":null,
"Haze Berry":null,
"Haze Heaven":null,
"Haze Mist":null,
"Haze Wreck":null,
"Head Cheese":null,
"Head Trip":null,
"Headband":null,
"Headbanger":null,
"Heaven Scent":null,
"Heavy Duty Fruity":null,
"Heisenberg Kush":null,
"Hell Raiser Og":null,
"Hells Angel Og":null,
"Hellfire Og":null,
"Hemlock":null,
"Hempstar":null,
"Hercules":null,
"Herojuana":null,
"Hibiscus Sunrise":null,
"Higher Power":null,
"Highwayman":null,
"Himalayan Blackberry":null,
"Himalayan Gold":null,
"Hindu Kush":null,
"Hindu Skunk":null,
"Hippie Chicken":null,
"Hippie Crippler":null,
"Hoarfrost":null,
"Hobbit":null,
"Hogs Breath":null,
"Hollands Hope":null,
"Hollywood Og":null,
"Holy Ghost":null,
"Holy Grail Kush":null,
"Honduras":null,
"Honey Bananas":null,
"Honey Boo Boo":null,
"Honey Rock":null,
"Hong Kong":null,
"Hoodwreck":null,
"Huckleberry":null,
"Huckleberry Hound":null,
"Hulkamania":null,
"Humboldt":null,
"Humboldt Dream":null,
"Humboldt Headband":null,
"Hurkle":null,
"Hurricane":null,
"Hustler Kush":null,
"I 95":null,
"Iced Grapefruit":null,
"Ifc Og":null,
"Ig Kush":null,
"Ice":null,
"Ice Cream":null,
"Ice Princess":null,
"Ice Queen":null,
"Ice Wreck":null,
"Iced Widow":null,
"Ill Og":null,
"Illuminati Og":null,
"In The Pines":null,
"Incredible Bulk":null,
"Incredible Hulk":null,
"Industrial Plant":null,
"Ingrid":null,
"Intergalactic":null,
"Irene Kush":null,
"Irish Cream":null,
"Iron Triangle":null,
"Island Haze":null,
"Island Maui Haze":null,
"Island Sweet Skunk":null,
"Js Famous Kush":null,
"J 27":null,
"J1":null,
"Jt15":null,
"Jack 47":null,
"Jack Burton":null,
"Jack Diesel":null,
"Jack Flash":null,
"Jack Frost":null,
"Jack Haze":null,
"Jack Herer":null,
"Jack Kush":null,
"Jack Skellington":null,
"Jack Smack":null,
"Jack Widow":null,
"Jack Wreck":null,
"Jack The Ripper":null,
"Jacks Cleaner":null,
"Jacks Dream":null,
"Jackalope":null,
"Jacked Up":null,
"Jacky Girl":null,
"Jacky White":null,
"Jah Kush":null,
"Jahwaiian":null,
"Jamaican":null,
"Jamaican Dream":null,
"Jamaican Lion":null,
"Jamaican Pearl":null,
"Jamba Juice":null,
"Jane Doe":null,
"Jasmin":null,
"Jawa Pie":null,
"Jazz":null,
"Jean Guy":null,
"Jedi Kush":null,
"Jelly Roll":null,
"Jenni":null,
"Jenny Kush":null,
"Jericho Haze":null,
"Jesses Girl":null,
"Jesus":null,
"Jesus Og":null,
"Jet Fuel":null,
"Jilly Dawg":null,
"Jillybean":null,
"Jimi Hendrix":null,
"Jock Horror":null,
"Johnnys Tonic":null,
"Joliet Jake":null,
"Jolly Rancher":null,
"Josh D Og":null,
"Jr":null,
"Juicy Fruit":null,
"Juicy Jack":null,
"Juliet":null,
"Julius Caesar":null,
"Jungle Juice":null,
"Jupiter Og":null,
"K Train":null,
"K1":null,
"K2":null,
"Kc 33":null,
"Kc 36":null,
"Kt Dawg":null,
"Kaboom":null,
"Kahuna":null,
"Kaia Kush":null,
"Kalalau Kush":null,
"Kalashnikova":null,
"Kaleidos Dope":null,
"Kali 47":null,
"Kali China":null,
"Kali Dog":null,
"Kali Mist":null,
"Kandahar":null,
"Kandy Kush":null,
"Kaptns Grand Dream":null,
"Karma Bitch":null,
"Katsu Bubba Kush":null,
"Katsu Kush":null,
"Kauai Electric":null,
"Kelly Hill Gold":null,
"Kens Kush":null,
"Kerala Krush":null,
"Key Lime Pie":null,
"Khalifa Kush":null,
"Khola":null,
"Khufu":null,
"Kid N Cookies":null,
"Kilimanjaro":null,
"Kill Bill":null,
"Killer Grape":null,
"Killer Queen":null,
"Killing Fields":null,
"Kimbo Kush":null,
"King Cake":null,
"King Kong":null,
"King Louis":null,
"Kings Bread":null,
"King Kush":null,
"Kiss":null,
"Kiwiskunk":null,
"Kobain Kush":null,
"Kona Gold":null,
"Kong":null,
"Kool Aid Smile":null,
"Kosher Kush":null,
"Kosher Tangie":null,
"Krakatoa":null,
"Kraken":null,
"Krishna Kush":null,
"Kryptonite":null,
"Kuato":null,
"Kubbie Kush":null,
"Kuchi":null,
"Kurple Fantasy":null,
"Kush Cleaner":null,
"Kush Rise":null,
"Kush N Cheese":null,
"Kushadelic":null,
"Kushage":null,
"Kushashima":null,
"Kushberry":null,
"Leagle Eagle":null,
"La Sunshine":null,
"Lak Federal Reserve":null,
"La Chocolat":null,
"La Confidential":null,
"La Jack":null,
"La Kookies":null,
"La Kush":null,
"La Og":null,
"La Ultra":null,
"La Woman":null,
"Lapd":null,
"Lsd":null,
"Lvpk":null,
"La Nina":null,
"Lady Liberty":null,
"Ladyburn 1974":null,
"Lake Of Fire":null,
"Lamb S Bread":null,
"Lambo Og":null,
"Lamborghini":null,
"Larry Bird Kush":null,
"Larry Og":null,
"Las Vegas Purple Kush Bx":null,
"Lashkar Gah":null,
"Laughing Buddha":null,
"Laughing Gas":null,
"Lavender":null,
"Lavender Haze":null,
"Lavender Jones":null,
"Lazy Train":null,
"Le Silver Royale":null,
"Leda Uno":null,
"Lee Roy":null,
"Legalized Og":null,
"Legend Og":null,
"Legend Of Nigeria":null,
"Legendary Lemon":null,
"Lem Chem":null,
"Lemon Alien Dawg":null,
"Lemon Bananas":null,
"Lemon Bubble":null,
"Lemon Cake":null,
"Lemon Crme":null,
"Lemon Daddy":null,
"Lemon Diesel":null,
"Lemon Drop":null,
"Lemon Fire":null,
"Lemon G":null,
"Lemon Haze":null,
"Lemon Ice":null,
"Lemon Jack":null,
"Lemon Jeffery":null,
"Lemon Kush":null,
"Lemon Larry Lavender":null,
"Lemon Marmalade":null,
"Lemon Meringue":null,
"Lemon Og Haze":null,
"Lemon Og":null,
"Lemon Pie":null,
"Lemon Sativa":null,
"Lemon Skunk":null,
"Lemon Thai":null,
"Lemon Walker Og":null,
"Lemon Wreck":null,
"Lemonberry":null,
"Lemonder":null,
"Lemonhead Og":null,
"Lennon":null,
"Leonidas":null,
"Lethal Purple":null,
"Liberty Haze":null,
"Lifesaver":null,
"Light Of Jah":null,
"Lime Green Skunk":null,
"Key Lime Haze":null,
"Lime Purple Mist":null,
"Lime Skunk":null,
"Lime Sorbet":null,
"Limon":null,
"Lions Gate":null,
"Liquid Butter":null,
"Little Devil":null,
"Little Dragon":null,
"Locktite":null,
"Locomotion":null,
"Lodi Dodi":null,
"Logic Diesel":null,
"Longbottom Leaf":null,
"Lost Coast Og":null,
"Lost Sierra Night Nurse":null,
"Loud Dream":null,
"Loud Scout":null,
"Love Potion":null,
"Love Potion 9":null,
"Lowryder":null,
"Loyality":null,
"Luca Brasi":null,
"Luca Brasi X Sour Diesel":null,
"Lucid Bolt":null,
"Lucid Dream":null,
"Lucky Charms":null,
"Lucy":null,
"M 39":null,
"Mc1":null,
"Milf":null,
"Mk Ultra":null,
"Mad Dawg":null,
"Mad Scientist":null,
"Madagascar":null,
"Madcow":null,
"Madman Og":null,
"Madzilla":null,
"Mag Landrace":null,
"Magic Beans Og":null,
"Magic Jordan":null,
"Magnum":null,
"Magnum Pi":null,
"Mai Tai Cookies":null,
"Majestic 12":null,
"Mako Haze":null,
"Malakoff":null,
"Malawi":null,
"Mammoth":null,
"Mandala 1":null,
"Mango":null,
"Mango Dream":null,
"Mango Habanero":null,
"Mango Haze":null,
"Mango Kush":null,
"Mango Tango":null,
"Mangolicious":null,
"Manitoba Poison":null,
"Maple Leaf Indica":null,
"Maramota 10":null,
"Marcosus Marshmellow":null,
"Margaret Cho G":null,
"Marionberry Kush":null,
"Marleys Collie":null,
"Mars Og":null,
"Martian Candy":null,
"Martian Mean Green":null,
"Martian Muffins":null,
"Master Bubba":null,
"Master Jedi":null,
"Master Kush":null,
"Master Og":null,
"Master Skunk":null,
"Master Yoda":null,
"Matanuska Thunder Fuck":null,
"Mataro Blue":null,
"Matsu":null,
"Mau Mau":null,
"Maui":null,
"Maui Berry":null,
"Maui Bubble Gift":null,
"Maui Citrus Punch":null,
"Maui Haole":null,
"Maui Mango Diesel":null,
"Maui Pineapple Chunk":null,
"Maui Wowie":null,
"Mazar I Sharif":null,
"Mazar Kush":null,
"Mean Misty":null,
"Medihaze":null,
"Medibud":null,
"Medicine Man":null,
"Medicine Woman":null,
"Medusa":null,
"Mega Jackpot":null,
"Megalodon":null,
"Mekamika Haze":null,
"Melon Gum":null,
"Memory Loss":null,
"Mendo Afgoo":null,
"Mendo Breath":null,
"Mendocino Madness":null,
"Mendocino Purps":null,
"Mercury Og":null,
"Merlot Og":null,
"Mexican":null,
"Mexican Sativa":null,
"Michael Phelps Og":null,
"Mickey Kush":null,
"Middlefork":null,
"Middlefork X Pineapple Express":null,
"Midnight":null,
"Milky Way":null,
"Millennium":null,
"Mint Chocolate Chip":null,
"Mission Kush":null,
"Misty Kush":null,
"Misty Morning":null,
"Mob Boss":null,
"Moby Dick":null,
"Mochi":null,
"Molokai Frost":null,
"Molokai Purpz":null,
"Money Maker":null,
"Monkey Paw":null,
"Monolith":null,
"Monster Cookies":null,
"Monster Og":null,
"Montana Silvertip":null,
"Moon Cookies":null,
"Moondance":null,
"Moonshine Haze":null,
"Moonwalker Kush":null,
"Moose And Lobsta":null,
"Morning Glory":null,
"Morning Star":null,
"Mossad":null,
"Mossimo Og":null,
"Motavation":null,
"Mother Tongue":null,
"Mother Of Berries":null,
"Mothers Milk":null,
"Mothers Finest":null,
"Mothers Helper":null,
"Mountain Girl":null,
"Mr Nice":null,
"Mr Tusk":null,
"Ms Universe":null,
"Mt Cook":null,
"Mt Hood Magic":null,
"Mt Rainier":null,
"Mud Bite":null,
"Murkle":null,
"Nl5 Haze Mist":null,
"Ny Cheese":null,
"Ny 47":null,
"Nyc Diesel":null,
"Nypd":null,
"Narnia":null,
"Nebula":null,
"Nebula Ii Cbd":null,
"Negra 44":null,
"Nepalese":null,
"Nepalese Jam":null,
"Neptune Kush":null,
"Neptune Og":null,
"Nevils Wreck":null,
"Nevilles Haze":null,
"Nexus Og":null,
"Nice Cherry":null,
"Nicole Kush":null,
"Night Nurse":null,
"Night Terror Og":null,
"Night Train":null,
"Nightfire Og":null,
"Nightmare Cookies":null,
"Nina Limone":null,
"Ninja Fruit":null,
"Nordle":null,
"North American":null,
"North American Sativa":null,
"North Indian":null,
"Northernberry":null,
"Northern Cross":null,
"Northern Lights":null,
"Northern Lights  5":null,
"Northern Lights 5 X Haze":null,
"Northern Skunk":null,
"Northern Wreck":null,
"Northwest Pineapple":null,
"Nova":null,
"Nuclear Cookies":null,
"Nuggetry Og":null,
"Nuken":null,
"Nurse Jackie":null,
"Oca Gold":null,
"Ocas Cloud 9":null,
"Ocd":null,
"Og 18":null,
"Og 1 Kenobi":null,
"Og Cheese":null,
"Og Chem":null,
"Og Diesel Kush":null,
"Og Eddy Lepp":null,
"Og Glue Sniffer":null,
"Og Kush":null,
"Og La Affie":null,
"Og Los Angeles Kush":null,
"Og Poison":null,
"Og Ringo":null,
"Og Shark":null,
"Og Skunk":null,
"Og Sour Diesel":null,
"Og Strawberry":null,
"Og Tonic":null,
"Og Wreck":null,
"Ogs Pearl":null,
"Ogiesel":null,
"Obama Kush":null,
"Odyssey":null,
"Ogre":null,
"Ogre Berry":null,
"Old Lyme Connecticut Og":null,
"Old Mother Sativa":null,
"Old School Og":null,
"Old Toby":null,
"Oldtimers Haze":null,
"Omega":null,
"Omega Dawg":null,
"One To One":null,
"Opal Og Kush":null,
"Opium":null,
"Or":null,
"Orange Afghani":null,
"Orange Blossom":null,
"Orange Bud":null,
"Orange Cookies":null,
"Orange Creamsicle":null,
"Orange Crush":null,
"Orange Diesel":null,
"Orange Dream":null,
"Orange Durban":null,
"Orange Haze":null,
"Orange Hill Special":null,
"Orange Juice":null,
"Orange Kush":null,
"Orange Kush Breath":null,
"Orange Romulan":null,
"Orange Skunk":null,
"Orange Turbo":null,
"Orange Velvet":null,
"Orange Wreck":null,
"Oregon Diesel":null,
"Oregon Pineapple":null,
"Oregon Pinot Noir":null,
"Organic Diesel":null,
"Orient Express":null,
"Ortega":null,
"Oteils Egyptian Kush":null,
"Outer Space":null,
"Outlaw":null,
"Ogezus":null,
"P 51":null,
"P 91":null,
"Pvc Og":null,
"Pacific Blue":null,
"Pagoda":null,
"Pakistan Valley Kush":null,
"Pakistani Chitral Kush":null,
"Pamelina":null,
"Panama Punch":null,
"Panama Red":null,
"Panda Og":null,
"Pandoras Box":null,
"Papas Og":null,
"Papaya":null,
"Paris Og":null,
"Paris Xxx":null,
"Patti Cake":null,
"Peaches And Cream":null,
"Pearl Scout Cookies":null,
"Peles Fire Og":null,
"Pennywise":null,
"Peppermint Cookies":null,
"Permafrost":null,
"Pestilence":null,
"Petrolia Headstash":null,
"Peyote Cookies":null,
"Peyton Manning":null,
"Pez":null,
"Phantom Arrow":null,
"Phantom Cookies":null,
"Phantom Og":null,
"Phatt Frutty":null,
"Phishhead Kush":null,
"Pie Face Og":null,
"Pine Cone":null,
"Pine Queen Dream":null,
"Pine Tar Kush":null,
"Pineapple":null,
"Pineapple Calyx":null,
"Pineapple Chunk":null,
"Pineapple Cookies":null,
"Pineapple Diesel":null,
"Pineapple Dog Shit":null,
"Pineapple Express":null,
"Pineapple Fields":null,
"Pineapple Haze":null,
"Pineapple Jack":null,
"Pineapple Kush":null,
"Pineapple Og":null,
"Pineapple Punch":null,
"Pineapple Purple Skunk":null,
"Pineapple Purps":null,
"Pineapple Sage":null,
"Pineapple Skunk":null,
"Pineapple Super Silver Haze":null,
"Pineapple Thai":null,
"Pineapple Trainwreck":null,
"Pineapple Upside Down Cake":null,
"Pink Berry":null,
"Pink Bubba":null,
"Pink Champagne":null,
"Pink Cookies":null,
"Pink Death Star":null,
"Pink Hawaiian":null,
"Pink Kush":null,
"Pink Lemonade":null,
"Pink Mango":null,
"Pink Panther":null,
"Pink Pez":null,
"Pink Starburst":null,
"Pink Sunset":null,
"Pinot Green":null,
"Pitbull":null,
"Pia Collision":null,
"Platinum Bubba Kush":null,
"Platinum Calyx":null,
"Platinum Gsc":null,
"Platinum Huckleberry Cookies":null,
"Platinum Kush":null,
"Platinum Og":null,
"Platinum Purple Kush":null,
"Platinum Sour Diesel":null,
"Platinum Wreck":null,
"Plushberry":null,
"Pluto Kush":null,
"Poison Haze":null,
"Pokie":null,
"Poochie Love":null,
"Pop Rox":null,
"Popcorn Kush":null,
"Pot Of Gold":null,
"Power Kush":null,
"Power Plant":null,
"Pre 98 Bubba Kush":null,
"Predator Pink":null,
"Presidential Og":null,
"Primus":null,
"Princesss Tiara":null,
"Professor Chaos":null,
"Project Blue Book":null,
"Proper Pho Shatter S":null,
"Proper Pho Shatter H":null,
"Proper Pho Shatter I":null,
"Puna Buddaz":null,
"Puna Budder":null,
"Punky Lion":null,
"Pure Afghan":null,
"Pure Kush":null,
"Pure Love":null,
"Pure Og":null,
"Pure Power Plant":null,
"Purple Ak 47":null,
"Purple Afghani":null,
"Purple Alien Og":null,
"Purple Animal Cookies":null,
"Purple Arrow":null,
"Purple Aurora":null,
"Purple Berry":null,
"Purple Bubba":null,
"Purple Bud":null,
"Purple Buddha":null,
"Purple Bush":null,
"Purple Candy":null,
"Purple Champagne":null,
"Purple Cheddar":null,
"Purple Cheese":null,
"Purple Chemdawg":null,
"Purple Cotton Candy":null,
"Purple Cow":null,
"Purple Crack":null,
"Purple Cream":null,
"Purple Diesel":null,
"Purple Dog Shit":null,
"Purple Dragon":null,
"Purple Dream":null,
"Purple Elephant":null,
"Purple Frost":null,
"Purple Goat":null,
"Purple Goo":null,
"Purple Gorilla":null,
"Purple Hashplant":null,
"Purple Haze":null,
"Purple Headband":null,
"Purple Hindu Kush":null,
"Purple Ice":null,
"Purple Jack":null,
"Purple Jolly Rancher":null,
"Purple Kush":null,
"Purple Linda":null,
"Purple Martian Kush":null,
"Purple Maui":null,
"Purple Monkey Balls":null,
"Purple Mr Nice":null,
"Purple Nepal":null,
"Purple Og Kush":null,
"Purple Pantera":null,
"Purple Panty Dropper":null,
"Purple Paralysis":null,
"Purple Passion":null,
"Purple People Eater":null,
"Purple Pinecone":null,
"Purple Power":null,
"Purple Princess":null,
"Purple Punch":null,
"Purple Raine":null,
"Purple Rhino":null,
"Purple Sage":null,
"Purple Skunk":null,
"Purple Sour Diesel":null,
"Purple Star":null,
"Purple Swish":null,
"Purple Tangie":null,
"Purple Tears":null,
"Purple Thai":null,
"Purple Tide":null,
"Purple Tonic":null,
"Purple Trainwreck":null,
"Purple Urkle":null,
"Purple Voodoo":null,
"Purple Widow":null,
"Purple Wreck":null,
"Q3":null,
"Qleaner":null,
"Qrazy Train":null,
"Quantum Kush":null,
"Quebec Gold":null,
"Queens Panties":null,
"Querkle":null,
"Queso":null,
"Quin N Tonic":null,
"Qush":null,
"R 4":null,
"Race Fuel Og":null,
"Rafael":null,
"Rainbow":null,
"Rainbow Jones":null,
"Raindance":null,
"Rare Dankness 1":null,
"Rare Darkness":null,
"Raskal Og":null,
"Raspberry Cough":null,
"Raspberry Kush":null,
"Raw Diesel":null,
"Ray Charles":null,
"Rebel Berry Og":null,
"Rebel God Smoke":null,
"Rebel Tangie Kandy":null,
"Reclining Buddha":null,
"Recon":null,
"Red Cherry Berry":null,
"Red Congolese":null,
"Red Diesel":null,
"Red Dragon":null,
"Red Dwarf":null,
"Red Eye Og":null,
"Red Haze":null,
"Red Headed Stranger":null,
"Red Poison":null,
"Red Velvet Pie":null,
"Red Widow":null,
"Redd Cross":null,
"Redding Og":null,
"Redwood Kush":null,
"Remedy":null,
"Remo Chemo":null,
"Rene":null,
"Rene Mist":null,
"Richie Rich":null,
"Riddler Og":null,
"Ridge Berry":null,
"Rigger Kush":null,
"Ringos Gift":null,
"Rip City Purps":null,
"Ripped Bubba":null,
"Rob Ford Kush":null,
"Robert Plant":null,
"Rockbud":null,
"Rocklock":null,
"Rockstar":null,
"Rockstar Kush":null,
"Rockstar Master Kush":null,
"Rocky Dennis":null,
"Rocky Mountain Blueberry":null,
"Rocky Mountain High":null,
"Rollex Og Kush":null,
"Rolls Choice":null,
"Romping Goddess":null,
"Romulan":null,
"Romulan Grapefruit":null,
"Romulan Haze":null,
"Root Beer Kush":null,
"Rose Bud":null,
"Royal Chemdawg":null,
"Royal Dwarf":null,
"Royal Haze":null,
"Royal Highness":null,
"Royal Kush":null,
"Royal Tree Sherbet":null,
"Rubicon":null,
"Rudeboi Og":null,
"Rug Burn Og":null,
"Russian Assassin":null,
"Russian Rocket Fuel":null,
"Sage":null,
"Sfv Dog":null,
"Sfv Og":null,
"Sfv Og Kush":null,
"Sage N Sour":null,
"Salmon River Og":null,
"Santa Maria":null,
"Santa Sativa":null,
"Sapphire Scout":null,
"Sapphire Star":null,
"Sasquatch Sap":null,
"Satellite Og":null,
"Satori":null,
"Saturn Og":null,
"Savage Citrus Sunshine":null,
"Savants Grail":null,
"Schrom":null,
"Scooby Snack":null,
"Scotts Og":null,
"Scouts Honor":null,
"Scroopy Noopers":null,
"Seattle Blue":null,
"Seattle Cough":null,
"Seattlesoda":null,
"Secret Garden Og":null,
"Secret Recipe":null,
"Sensi Skunk":null,
"Sensi Star":null,
"Sequoia Strawberry":null,
"Serious 6":null,
"Serious Happiness":null,
"Sexxpot":null,
"Shaman":null,
"Shangri La":null,
"Shark Attack":null,
"Shark Bite":null,
"Shark Shock":null,
"Sharks Breath":null,
"Shiatsu Kush":null,
"Shining Silver Haze":null,
"Shipwreck":null,
"Shishkaberry":null,
"Shiskaquine":null,
"Shiva Skunk":null,
"Shoreline":null,
"Shurman 7":null,
"Sierra Mist":null,
"Silver Back":null,
"Silver Bubble":null,
"Silver Calyx":null,
"Silver Cindy":null,
"Silver Haze":null,
"Silver Kush":null,
"Silver Nina":null,
"Silver Pearl":null,
"Silver Surfer":null,
"Silver Train":null,
"Silverback Gorilla":null,
"Silverfalls Kush":null,
"Silverhawks Og":null,
"Sin City Kush":null,
"Sin Valley Og":null,
"Sinmint Cookies":null,
"Sinai":null,
"Sirius Black":null,
"Six Shooter":null,
"Skins Skunk":null,
"Skunk 47":null,
"Skunk Dawg":null,
"Skunk Haze":null,
"Skunk 1":null,
"Skunkberry":null,
"Skunky Diesel":null,
"Sky Master":null,
"Skydog":null,
"Skywalker":null,
"Skywalker Alien":null,
"Skywalker Og":null,
"Slazerbeam":null,
"Sleeskunk":null,
"Sleestack":null,
"Slimer Og":null,
"Smelliot":null,
"Smooth Operator":null,
"Snoop Dogg Og":null,
"Snoop S Dream":null,
"Snow Bud":null,
"Snow Diesel":null,
"Snow Leopard":null,
"Snow Lotus":null,
"Snow Monster":null,
"Snow Mountain":null,
"Snow Ryder":null,
"Snow White":null,
"Snowland":null,
"Snowcap":null,
"Sojay Haze":null,
"Somango":null,
"Sonic Screwdriver":null,
"Sonoma Coma":null,
"Sorcerers Apprentice":null,
"Soul Assassin Og":null,
"Soul Shine":null,
"Soulshine Aloha":null,
"Sour Alien":null,
"Sour Amnesia":null,
"Sour Ape":null,
"Sour Apple":null,
"Sour Banana Sherbet":null,
"Sour Breath":null,
"Sour Bubba":null,
"Sour Bubble":null,
"Sour Candy":null,
"Sour Chees":null,
"Sour Cherry Sherbert":null,
"Sour Chocolate":null,
"Sour Chunk":null,
"Sour Cookies":null,
"Sour Cream":null,
"Sour Diesel":null,
"Sour Dream":null,
"Sour Dubble":null,
"Sour Flower":null,
"Sour Grape":null,
"Sour Haze":null,
"Sour Headband":null,
"Sour Jack":null,
"Sour Jilly":null,
"Sour Joker":null,
"Sour Kush":null,
"Sour Lsd":null,
"Sour Lemon Og":null,
"Sour Maui":null,
"Sour Og":null,
"Sour Patch Kiss":null,
"Sour Pebbles":null,
"Sour Poison":null,
"Sour Power":null,
"Sour Spyder":null,
"Sour Star Head":null,
"Sour Strawberry Diesel":null,
"Sour Sunset":null,
"Sour Tangie":null,
"Sour Tsunami":null,
"Sour Urkle":null,
"Sour Willie":null,
"Sourlope":null,
"South American":null,
"South Asian":null,
"South Asian Sativa":null,
"South Central La":null,
"South Indian Indica":null,
"South Indian":null,
"Southern Lights":null,
"Space Bomb":null,
"Space Candy":null,
"Space Cream":null,
"Space Dawg":null,
"Space Jill":null,
"Space Monster":null,
"Space Needle":null,
"Space Queen":null,
"Special K":null,
"Special Kush 1":null,
"Spirit Of 76":null,
"Spliffs Strawberry":null,
"Spoetnik 1":null,
"Sputnik":null,
"Spyder Mon":null,
"Star 47":null,
"Star Berry":null,
"Star Killer":null,
"Star Master Kush":null,
"Star Tonic":null,
"Starbud":null,
"Stardawg":null,
"Stardawg 91":null,
"Stardawg Guava":null,
"Starfighter":null,
"Starry Night":null,
"Stella Blue":null,
"Stephen Hawking Kush":null,
"Stevie Wonder":null,
"Straight As Haze":null,
"Strawberry":null,
"Strawberry Alien Kush":null,
"Strawberry Amnesia":null,
"Strawberry Banana":null,
"Strawberry Blondie":null,
"Strawberry Blue":null,
"Strawberry Cheesecake":null,
"Strawberry Cough":null,
"Strawberry Diesel":null,
"Strawberry Dream":null,
"Strawberry Durban Diesel":null,
"Strawberry Fields":null,
"Strawberry Frost":null,
"Strawberry Ice":null,
"Strawberry Kush":null,
"Strawberry Lemonade":null,
"Strawberry Mango Haze":null,
"Strawberry Milkshake":null,
"Strawberry Og":null,
"Strawberry Satori":null,
"Sublime":null,
"Sugar Black Rose":null,
"Sugar Calyx":null,
"Sugar Cookie":null,
"Sugar Kush":null,
"Sugar Mama":null,
"Sugar Pine":null,
"Sugar Plum":null,
"Sugar Punch":null,
"Sugar Shack":null,
"Suicide Girl":null,
"Summertime Squeeze":null,
"Sumo Grande":null,
"Sumo Og Kush":null,
"Sun Ra":null,
"Sunburn":null,
"Sunlight Skunk":null,
"Sunset Haze":null,
"Sunset Sherbert":null,
"Sunshine":null,
"Sunshine 4":null,
"Sunshine Daydream":null,
"Supa Don":null,
"Super Chronic":null,
"Super Blue Dream":null,
"Super Bud":null,
"Super Cat Piss":null,
"Super Cheese":null,
"Super G":null,
"Super Green Crack":null,
"Super Jack":null,
"Super Kush":null,
"Super Lemon Haze":null,
"Super Lemon Og":null,
"Super Silver Haze":null,
"Super Silver Lights":null,
"Super Skunk":null,
"Super Snow Dog":null,
"Super Sour Diesel":null,
"Super Sour Og":null,
"Super Sour Skunk":null,
"Super Sour Widow":null,
"Super Sweet":null,
"Supergirl":null,
"Superglue":null,
"Superman Og":null,
"Supermax Og":null,
"Supernatural":null,
"Supernova":null,
"Superstar":null,
"Suzy Q":null,
"Swazi Gold":null,
"Sweet Baby Jane":null,
"Sweet Berry":null,
"Sweet Black Angel":null,
"Sweet Cheese":null,
"Sweet Deep Grapefruit":null,
"Sweet Diesel":null,
"Sweet Dream":null,
"Sweet Dreams":null,
"Sweet Harlem Diesel":null,
"Sweet Hawaiian Tangie Banana":null,
"Sweet Jane":null,
"Sweet Kush":null,
"Sweet Lafayette":null,
"Sweet Nina":null,
"Sweet Pebbles":null,
"Sweet Skunk":null,
"Sweet Tooth":null,
"Sweet And Sour Widow":null,
"Swiss Bliss":null,
"Swiss Gold":null,
"Swiss":null,
"Swiss Sativa":null,
"Swiss Tsunami":null,
"Thc Bomb":null,
"Tjs Cbd":null,
"Tahoe Alien":null,
"Tahoe Frostbite":null,
"Tahoe Hydro Champagne":null,
"Tahoe Hydro Og":null,
"Tahoe Og":null,
"Tahoe Purps":null,
"Taliban Poison":null,
"Tangelo":null,
"Tangelo Kush":null,
"Tangenesia":null,
"Tangerine":null,
"Tangerine Dream":null,
"Tangerine Haze":null,
"Tangerine Kush":null,
"Tangerine Man":null,
"Tangerine Power":null,
"Tangerine Sunrise":null,
"Tangerine Trainwreck Haze":null,
"Tangie":null,
"Tangie Dream":null,
"Tangie Ghost Train":null,
"Tangie Sunrise":null,
"Tangier Chilly":null,
"Tangilope":null,
"Tango Kush":null,
"Tardis":null,
"Tembo Kush":null,
"Terminator Og":null,
"Tesla":null,
"Tesla Tower":null,
"Thai":null,
"Thai Girl":null,
"Thai Haze":null,
"Thai Lights":null,
"Thai Tanic":null,
"Thaidal Wave":null,
"The Big Dirty":null,
"The Black":null,
"The Blintz":null,
"The Blood":null,
"The Brotherhood":null,
"The Cough":null,
"The Doctor":null,
"The Flav":null,
"The Fork":null,
"The Gift":null,
"The Grunk":null,
"Hog":null,
"The Loops":null,
"The Ox":null,
"The One":null,
"The Ooze":null,
"The Sauce":null,
"The Sheriff":null,
"The Sister":null,
"The Third Dimension":null,
"The Truth":null,
"The Void":null,
"The White":null,
"The White Angel":null,
"The Wife":null,
"The Wills":null,
"Thelonious Skunk":null,
"Thin Mint":null,
"Think Different":null,
"Thors Hammer":null,
"Throwback Kush":null,
"Thunderbird Rose":null,
"Thunderstruck":null,
"Tickle Kush":null,
"Tiger Woods":null,
"Tigers Milk":null,
"Tigermelon":null,
"Tillamook Strawberry":null,
"Timewreck":null,
"Tina Danza":null,
"Titans Haze":null,
"Tokyo Og":null,
"Tommys Home Grown":null,
"Tonics Web":null,
"Tora Bora":null,
"Toxic":null,
"Toxic Punch":null,
"Training Day":null,
"Trainwreck":null,
"Tranquil Elephantizer Remix":null,
"Transformer":null,
"Trash":null,
"Travel Joint":null,
"Treasure Island":null,
"Tree Of Life":null,
"Tres Dawg":null,
"Triangle Kush":null,
"Trident":null,
"Trifecta":null,
"Trinity":null,
"Triple Cheese":null,
"Triple Diesel":null,
"Trix":null,
"Tropic Thunder":null,
"Tropical Tang":null,
"Tropicali":null,
"True Og":null,
"True X":null,
"Truffle Butter":null,
"Truth Serum":null,
"Tuna Kush":null,
"Tuna Og":null,
"Turbo Mind Warp":null,
"Tutankhamon":null,
"Tutti Frutti":null,
"Twista":null,
"Twisted Citrus":null,
"Tyson":null,
"U2 Kush":null,
"Uk Cheese":null,
"Uw":null,
"Ultimate Trainwreck":null,
"Ultra Banana":null,
"Ultra Sonja":null,
"Ultra Sour":null,
"Ultraviolet Og":null,
"Urkle Train Haze":null,
"Vcdc":null,
"Az Super Sour Og":null,
"Vader Og":null,
"Valentine X":null,
"Valley Ghash":null,
"Valley Girl":null,
"Vanilla Kush":null,
"Vanilluna":null,
"Velvet Bud":null,
"Velvet Purps":null,
"Venice Og":null,
"Venom Og":null,
"Venus Og":null,
"Verde Electric":null,
"Versace":null,
"Very Berry Haze":null,
"Vietnamese Bubba":null,
"Violator Kush":null,
"Violet Delight":null,
"Violeta":null,
"Viper":null,
"Voodoo":null,
"Vortex":null,
"Wmd":null,
"Wsu":null,
"Wtf":null,
"Waipi O Hapa":null,
"Waldo":null,
"Walker Kush":null,
"Wally Og":null,
"Walrus Kush":null,
"Walter White":null,
"Wappa":null,
"Warlock":null,
"Washing Machine":null,
"Watermelon":null,
"Webster":null,
"Wedding Cake":null,
"Wellness Og":null,
"Wembley":null,
"West Coast Dawg":null,
"West Og":null,
"Wet Dream":null,
"Whitaker Blues":null,
"White 99":null,
"White Bastard":null,
"White Berry":null,
"White Bubblegum":null,
"White Buffalo":null,
"White Caramel Cookies":null,
"White Cheese":null,
"White Chocolate":null,
"White Cookies":null,
"White Dawg":null,
"White Diesel":null,
"White Dragon":null,
"White Dream":null,
"White Durban":null,
"White Elephant":null,
"White Empress":null,
"White Fire 43":null,
"White Fire Alien Og":null,
"White Fire Og":null,
"White Girl":null,
"White Gold":null,
"White Gorilla":null,
"White Haze":null,
"White Knight":null,
"White Kryptonite":null,
"White Kush":null,
"White Lsd":null,
"White Lavender":null,
"White Lightning":null,
"White Lotus":null,
"White Nightmare":null,
"White Og":null,
"White Queen":null,
"White Rhino":null,
"White Romulan":null,
"White Russian":null,
"White Ryder":null,
"White Sangria":null,
"White Siberian":null,
"White Skunk":null,
"White Slipper":null,
"White Smurf":null,
"White Strawberry":null,
"White Tahoe Cookies":null,
"White Tygh Dream":null,
"White Urkle":null,
"White Walker Kush":null,
"White Walrus":null,
"White Widow":null,
"White Zombie":null,
"Whiteout":null,
"Whitewalker Og":null,
"Wild Thailand":null,
"Willie Nelson":null,
"Willy Wonka":null,
"Willys Wonder":null,
"Wonder Haze":null,
"Wonder Kid":null,
"Wonder Woman":null,
"Wonderwoman Og":null,
"Wonka S Bubbilicious":null,
"Woody Kush":null,
"Wookie":null,
"Wookies":null,
"Wreckage":null,
"X File":null,
"X Files":null,
"X Wing":null,
"X Tra Chz":null,
"Xj 13":null,
"Xxx 420":null,
"Xxx Og":null,
"Xanadu":null,
"Y Griega":null,
"Yeti Og":null,
"Yoda Og":null,
"Yodas Brain":null,
"Yogi Diesel":null,
"Yumboldt":null,
"Yummy":null,
"Zamaldelica":null,
"Zellys Gift":null,
"Zen":null,
"Zeta Sage":null,
"Zeus Og":null,
"Zkittlez":null,
"Zombie Kush":null,
"Zombie Og":null,
"Zoom Pie":null,


        },
      });
       $('input.dispensaryAuto').autocomplete({
      data: {
        
"EVERBLOOM":null,
"ONE:ELEVEN":null,
"LODO WELLNESS CENTER":null,
"BUDDY BOY":null,
"BUDDY BOY":null,
"MINDFUL":null,
"MINDFUL":null,
"EVERBLOOM":null,
"THE CLINIC ON COLFAX":null,
"PURE MEDICAL DISPENSARY":null,
"EVERBLOOM":null,
"CALLIES":null,
"ECLIPSE CANNABIS COMPANY":null,
"HERBAN UNDERGROUND":null,
"HIGH VALLEY RETAIL CANNABIS":null,
"HIGH VALLEY ANTONITO RETAIL CANNABIS":null,
"LUCKY MONKEY BUDS":null,
"STRAWBERRY FIELDS":null,
"SWEET LEAF":null,
"THE DAB BY NEXT HARVEST":null,
"FROSTED LEAF":null,
"MAIKOH HOLISTICS":null,
"ALPINE WELLNESS":null,
"ROCKY MOUNTAIN ORGANICS":null,
"ROCKY MOUNTAIN ORGANICS":null,
"NATIVE ROOTS SPEER":null,
"NATURE'S HERBS AND WELLNESS DTC":null,
"DENVER CLONE STORE":null,
"GREEN TREE MEDICINALS":null,
"PROHIBITION HERB":null,
"HARVEST HOUSE":null,
"TERRAPIN CARE STATION":null,
"TERRAPIN CARE STATION":null,
"TERRAPIN CARE STATION":null,
"TERRAPIN CARE STATION":null,
"ASCEND II":null,
"MARY JANE'S HOUSE":null,
"THE GREEN JOINT":null,
"Euflora":null,
"SMOKE RINGS":null,
"HELPING HANDS HERBALS":null,
"THE BUD DEPOT":null,
"CHRONIC THERAPY":null,
"ORGANIX":null,
"LIVWELL":null,
"DRIFT":null,
"DRIFT":null,
"BGOOD":null,
"BGOOD":null,
"THE HERBAL CENTER":null,
"THE HERBAL CENTER":null,
"THE PEACEFUL CHOICE":null,
"BGOOD":null,
"NATIVE ROOTS BOULDER":null,
"ALPENGLOW":null,
"ALPENGLOW":null,
"XCLUSIVE CANNABIS":null,
"XCLUSIVE CANNABIS":null,
"BUD BUM":null,
"BUD HUT INC":null,
"LIVE GREEN CANNABIS":null,
"HIGHLINE":null,
"ROCKY MOUNTAIN CANNABIS":null,
"CANNACO":null,
"SMOKEYS":null,
"THE JOINT BY CANNABIS":null,
"PIG N' WHISTLE":null,
"GREEN DRAGON COLORADO":null,
"GREEN DRAGON COLORADO":null,
"BOTANICO 2":null,
"THE HAPPY CAMPER CANNABIS COMPANY":null,
"CANNA CITY":null,
"BONFIRE CANNABIS":null,
"CG LABS":null,
"KRYSTALEAVES":null,
"WILD WILD WEED":null,
"TERRAPIN CARE STATION":null,
"STARBUDS":null,
"SACRED SEED":null,
"ROCKY MOUNTAIN HIGH":null,
"EUFLORA":null,
"THE GREEN DEPOT":null,
"COLORADO WEEDERY":null,
"THE SPOT":null,
"THE SPOT":null,
"THE SPOT 420":null,
"PURE MARIJUANA DISPENSARY":null,
"THE DISPO":null,
"LIGHTSHADE":null,
"STICKY ICKYS":null,
"STARBUDS":null,
"THE VILLAGE GREEN SOCIETY":null,
"DOCTORS GARDEN":null,
"DOCTORS GARDEN":null,
"CANNABIS STATION":null,
"ROCKY MOUNTAIN HIGH":null,
"ROCKY MOUNTAIN HIGH":null,
"AJOYA":null,
"COMPLETE RELEAF":null,
"WOLFPAC CANNABIS":null,
"HIGHER ELEVATION":null,
"SILVERPEAK APOTHECARY":null,
"THE DISPENSARY":null,
"BACKCOUNTRY CANNABIS COMPANY":null,
"RIVERROCK":null,
"SOUTHWEST ALTERNATIVE CARE FOX ST":null,
"GOLDEN LEAF":null,
"DABBINGTON":null,
"SEDGWICK ALTERNATIVE RELIEF":null,
"GOOD EARTH MEDS":null,
"DELILAH LLC":null,
"REEFER MADNESS":null,
"DENVER DISPENSARY":null,
"LIVWELL":null,
"THE KIND ROOM":null,
"DINO DISPENSARY":null,
"DINO TREATS":null,
"HIGH LEVEL HEALTH":null,
"HIGH LEVEL HEALTH":null,
"HIGH LEVEL HEALTH":null,
"HIGH LEVEL HEALTH":null,
"DENVER KUSH CLUB":null,
"DOCTORS ORDERS":null,
"GOODPEOPLE LLC":null,
"DURANGO REC ROOM":null,
"GREEN DRAGON COLORADO":null,
"GREEN DRAGON COLORADO":null,
"GREEN DRAGON COLORADO":null,
"GREEN DRAGON COLORADO":null,
"GREEN DRAGON COLORADO":null,
"GREEN DRAGON COLORADO":null,
"GREEN DRAGON COLORADO":null,
"ROCKY MOUNTAIN HIGH":null,
"DO CORTEZ":null,
"DO CRESTED BUTTE":null,
"THE OTHER PLACE IS GREENER":null,
"DIEGO PELLICER":null,
"CANNA CABINET INC":null,
"VERDE NATURAL":null,
"ELITE ORGANICS":null,
"ELK MOUNTAIN TRADING POST LLC":null,
"EMERALD CITY":null,
"ROCKY MOUNTAIN CANNABIS":null,
"FARAGOSI FARMS":null,
"FOX CANNABIS":null,
"FREEDOM ROAD":null,
"FREEDOM ROAD":null,
"FRESH BAKED":null,
"SOUTH PARK FARMA":null,
"FROZEN SMOKE DISPENSARY":null,
"MEDICINE MAN THORNTON":null,
"MEDICINE MAN":null,
"MEDICINE MAN AURORA":null,
"GANJA GOURMET":null,
"STRAWBERRY FIELDS":null,
"ROLLUP":null,
"BILLO":null,
"ROCKY MOUNTAIN CANNABIS":null,
"GREEN WORLD":null,
"GOLDEN MEDS":null,
"GREEN MAN CANNABIS":null,
"GREEN MAN CANNABIS":null,
"THE HEALTH CENTER":null,
"GM ENTERPRISE INC":null,
"ROCKY MOUNTAIN BLAZE":null,
"SOUTH PARK FARMA":null,
"GOLDEN MEDS INC":null,
"THE TUMBLEWEED DISPENSARY":null,
"TUMBLEWEED EXPRESS":null,
"GREEN CROSS OF CHERRY CREEK":null,
"GREEN DRAGON COLORADO":null,
"GREEN DRAGON COLORADO":null,
"GREENFIELDS":null,
"LIVWELL":null,
"LIVWELL":null,
"LIVWELL":null,
"LIVWELL":null,
"LIVWELL":null,
"GREEN TREE MEDICINALS":null,
"SMOKEY'S":null,
"THE GREEN JOINT":null,
"THE GREENERY":null,
"VERDE NATURAL":null,
"GREEN DRAGON COLORADO":null,
"GREEN DRAGON COLORADO":null,
"GREEN DRAGON COLORADO":null,
"ROCKY MOUNTAIN CANNABIS":null,
"SOMA":null,
"BEMINDFUL":null,
"PURE MARIJUANA DISPENSARY":null,
"HARVEST":null,
"GREEN DREAM CANNABIS":null,
"NEW BROADSTERDAM":null,
"HERBAL HEALING":null,
"LOCAL PRODUCT OF COLORADO":null,
"THE GREEN JOINT":null,
"HERBAL WELLNESS LLC":null,
"HIGHER GRADE":null,
"HARVEST HOUSE CRESTED BUTTE":null,
"COLORADO HARVEST COMPANY":null,
"COLORADO HARVEST COMPANY":null,
"COLORADO HARVEST COMPANY":null,
"HIGH CULTURE CANNABIS":null,
"TERPS":null,
"HIGH PLAINZ STRAINS & DISPENSARY LLC":null,
"HIGH STREET GROWERS LLC":null,
"THE CLINIC HIGHLANDS":null,
"BONFIRE CANNABIS COMPANY":null,
"A CUT ABOVE":null,
"THE CLINIC ON COLORADO":null,
"HIGH Q":null,
"High Q Snowmass Village":null,
"HIGH Q CARBONDALE":null,
"BONFIRE CANNABIS":null,
"LIFE FLOWER DISPENSARY LLC":null,
"IGADI":null,
"IGADI":null,
"IGADI":null,
"IGADI":null,
"IGADI":null,
"IGADI":null,
"SANTE ALTERNATIVE WELLNESS":null,
"DISPENSARY EXIT 243":null,
"PAGOSA THERAPEUTICS":null,
"THE GREEN HOUSE":null,
"NATIVE ROOTS VAIL":null,
"THE GREEN ROOM":null,
"THE GREEN ROOM":null,
"EARLS":null,
"DANK":null,
"PAGOSA CRAFT":null,
"SILVER STEM FINE CANNABIS":null,
"EUFLORA":null,
"EUFLORA":null,
"EUFLORA":null,
"COLORADO CANNABIS CONNECTION":null,
"TWEEDLEAF":null,
"TWEEDLEAF":null,
"THE GREEN HOUSE DURANGO":null,
"KARING KIND":null,
"KARMACEUTICALS":null,
"BUD CELLAR":null,
"SILVERTON GREEN WORKS":null,
"STARBUDS":null,
"SPARK DISPENSARY":null,
"KIND CARE OF COLORADO":null,
"KIND LOVE":null,
"KINFOLK FARMS":null,
"THE LODGE":null,
"THE LODGE":null,
"THE GREEN STOP":null,
"SEED & SMITH":null,
"L'EAGLE":null,
"LIGHTSHADE":null,
"LITTLE LEMON":null,
"TOKIN":null,
"LIVWELL":null,
"STARBUDS LONGMONT":null,
"LUCY SKY CANNABIS BOUTIQUE":null,
"STARBUDS":null,
"HERBS 4 YOU":null,
"MAGNOLIA ROAD CANNABIS COMPANY":null,
"MAGNOLIA ROAD CANNABIS COMPANY":null,
"SUGARLOAF DISPENSARY":null,
"THE HOMESTEAD":null,
"THE HEALTH CENTER":null,
"BEST COLORADO CANNABIS":null,
"OASIS CANNABIS SUPERSTORE":null,
"OASIS CANNABIS SUPERSTORE":null,
"MEDICINE MAN LONGMONT":null,
"WOLFPAC CANNABIS":null,
"MESA ORGANICS - ORDWAY":null,
"MESA ORGANICS - ROCKY FORD":null,
"MESA ORGANICS - LAS ANIMAS":null,
"MESA ORGANICS":null,
"SILVER STEM FINE CANNABIS":null,
"GOOD CHEMISTRY":null,
"MILE HIGH DISPENSARY":null,
"LIT":null,
"LIT":null,
"MMJ AMERICA UPTOWN":null,
"ALTITUDE WEST":null,
"MILE HIGH WELLNESS-GREEN STREET":null,
"FROSTY LEAF":null,
"GREEN RINO":null,
"STICKY FINGERZ":null,
"ALTITUDE ORGANIC CANNABIS":null,
"PROVISIONS":null,
"NORTHERN STANDARD":null,
"MOUNTAIN MEDICINIALS RETAIL CENTER":null,
"STARBUDS":null,
"LOUD":null,
"GREEN TREE MEDICINALS":null,
"THE COLFAX POT SHOP":null,
"NATURES HERBS & WELLNESS CENTER III":null,
"NATURES KISS":null,
"TUMBLEWEED DISPENSARY EDWARDS":null,
"TELLURIDE BUD COMPANY":null,
"TELLURIDE BUD COMPANY":null,
"IGADI":null,
"ROCKY MOUNTAIN CANNABIS":null,
"THE HEALTH CENTER":null,
"SILVER STEM FINE CANNABIS":null,
"GOLDEN NUGGET DISPENSARY":null,
"ELEMENTS":null,
"OPTIONS":null,
"OPTIONS":null,
"ORGANIC ALTERNATIVES":null,
"GREEN TREE MEDICINALS":null,
"WILD WILD WEED":null,
"BEST DAY EVER":null,
"BEST DAY EVER":null,
"THE GREEN JOINT":null,
"FLOYD'S FINE CANNABIS":null,
"CANNA CITY":null,
"ELEVATE 6010":null,
"PEAK DISPENSARY":null,
"CANNA BOTICA":null,
"NATURES MEDICINE":null,
"MILE HIGH GREEN CROSS":null,
"DOCS APOTHECARY":null,
"NORTHERN LIGHTS CANNABIS CO":null,
"PLATTE VALLEY DISPENSARY":null,
"PRIMA CANNABIS COMPANY":null,
"PRIMA CANNABIS COMPANY":null,
"PUEBLO WEST ORGANICS":null,
"PUEBLO WEST ORGANICS":null,
"HOUSE OF DANKNESS":null,
"EMERALD FIELDS":null,
"EMERALD FIELDS":null,
"ROOTSRX":null,
"ROOTSRX":null,
"ROOTSRX":null,
"ROOTSRX":null,
"ROOTS RX":null,
"ROOTSRX":null,
"LAUGHING GRASS":null,
"GREEN CROSS SILT":null,
"GREEN CROSS RIFLE":null,
"RINO SUPPLY COMPANY":null,
"RIVERROCK":null,
"NATIVE ROOTS NORTH DENVER":null,
"NATIVE ROOTS ASPEN":null,
"NATIVE ROOTS DILLON":null,
"NATIVE ROOTS EDGEWATER":null,
"NATIVE ROOTS FRISCO":null,
"NATIVE ROOTS HIGHLANDS":null,
"NATIVE ROOTS LONGMONT":null,
"NATIVE ROOTS COLORADO BLVD":null,
"NATIVE ROOTS SANTA FE":null,
"NATIVE ROOTS LITTLETON":null,
"NATIVE ROOTS DENVER AIRPORT":null,
"NATIVE ROOTS TRINIDAD":null,
"ROCKY MOUNTAIN REMEDIES":null,
"AFFINITY":null,
"ROCKY FARMS":null,
"ROCKY MOUNTAIN CANNABIS":null,
"ROCKY ROAD VAIL":null,
"ROCKY ROAD THORNTON":null,
"DIEGO PELLICER":null,
"ROCKY ROAD AURORA":null,
"PRIMO":null,
"CANNAFARMER FARM STORE":null,
"STARBUDS":null,
"LIVWELL":null,
"SERENE WELLNESS WINTER PARK LLC":null,
"FROSTED LEAF":null,
"FROSTED LEAF":null,
"HIGH WEST CANNABIS":null,
"ROOTED":null,
"SIMPLY PURE":null,
"TRENCHTOWN":null,
"SILVER STEM FINE CANNABIS":null,
"SILVER STEM FINE CANNABIS":null,
"SILVER STEM FINE CANNABIS":null,
"THE FARM":null,
"MIGHTY TREE":null,
"SMOKINGUN APOTHECARY":null,
"SKM":null,
"COLORADO CANNABIS EXCHANGE":null,
"HIGHLAND HEALTH":null,
"KAYA":null,
"THE DOOBIE SISTERS":null,
"ROCKY MOUNTAIN CANNABIS":null,
"STARBUDS":null,
"STARBUDS":null,
"STARBUDS":null,
"STARBUDS":null,
"STARBUDS":null,
"STARBUDS":null,
"DOCTORS ORDERS":null,
"THE CANNABIS DEPOT":null,
"THE STONE DISPENSARY":null,
"DEN REC DENVER RECREATIONAL DISPENSARY":null,
"DEN REC DENVER RECREATIONAL DISPENSARY":null,
"SUN HOUSE":null,
"SUN HOUSE":null,
"14er HOLISTICS":null,
"GOOD CHEMISTRY":null,
"GOOD CHEMISTRY":null,
"GOOD CHEMISTRY":null,
"STRAWBERRY FIELDS":null,
"AROMA":null,
"TREES":null,
"TELLURIDE GREEN ROOM":null,
"NATURITA GREEN ROOM":null,
"THE HERBAL ALTERNATIVE":null,
"THE HAPPY CAMPER CANNABIS COMPANY":null,
"THE COLORADO GROW COMPANY":null,
"THE KIND CASTLE":null,
"CABIN CANNABIS":null,
"TERRAPIN CARE STATION":null,
"CLEARANCE CANNABIS CO.":null,
"CLEARANCE CANNABIS CO":null,
"THE UNDERGROUND STATION LLC":null,
"CANNASSEUR":null,
"CANNASSEUR":null,
"THE FARMERS MARKET":null,
"THREE RIVERS DISPENSARY":null,
"THREE RIVERS DISPENSARY":null,
"ALTITUDE EAST":null,
"ALTITUDE AURORA":null,
"STRAWBERRY FIELDS":null,
"TRILL EVOLUTIONS":null,
"TRILL ALTERNATIVES":null,
"TUMBLEWEED CARBONDALE":null,
"TUMBLEWEED DE BEQUE":null,
"TUMBLEWEED FRISCO":null,
"BUDDY BOY":null,
"BUDDY BOY":null,
"BUDDY BOY":null,
"HIGH COUNTRY HEALING":null,
"UNIVERSAL HERBS":null,
"UNIVERSAL HERBS":null,
"HEALING HOUSE":null,
"GREEN GRASS":null,
"URBAN DISPENSARY":null,
"HIGH COUNTRY HEALING 8":null,
"VERTICAL":null,
"BLUE HERON DISPENSARY":null,
"MAGGIES FARM":null,
"MEDUSACO":null,
"NORTHERN LIGHTS CANNABIS CO":null,
"LUCY SKY CANNABIS BOUTIQUE":null,
"LUCY SKY CANNABIS BOUTIQUE":null,
"BEMINDFUL":null,
"MAGGIES FARM":null,
"ELEVATED STRAINS":null,
"HASHISH HUT":null,
"BUD FARM":null,
"THE REPUBLIC":null,
"CHERRY PEAK":null,
"1136 YUMA":null,
"TWIN PEAKS DISPENSARY":null,
"BERKELEY DISPENSARY":null,
"CANNA CITY":null,

        
        

        },
      });
    });

     $(document).ready(function(){
    $('select').formSelect();
    $('.sidenav').sidenav();
  });
  
  $("#submit").on("click",function(event){
   event.preventDefault();
    console.log($('.species'))
    $.post("/notes",{
      name: $(".strain").val(),
      dispensary: $("#dispensary").val(),
      notes:$("#notes").val(),
      species:$("#species").val(),
      method:$("#method").val(),
      potency:$("#potency").val()
      
    }).then(function(){
      location.reload()
    });
    });
    
    $('#delete').on('click',function(event){
      event.preventDefault()
      console.log($(this).attr('data'))
      const noteid = $(this).attr('data')
      $.ajax({
        method:'DELETE',
        url : `/notes/${noteid}`}
      ).then(function(){
        location.reload()
      })
    });

    </script>
</body>

</html>