{{> messages}}
<h1>Dashboard</h1>

<div class="card">
    <div class="card-body">
        <h3>Example user object (available as req.body in the controller only when user is logged in):</h3>
        
       {{#each test}}
       <p>{{dataValues.id}}</p>
       <p>{{dataValues.name}}</p>
       {{/each}}
    </div>
</div>
<script> console.log({{test}})</script>