{{> messages}}



<div class="row"><div class="col-12">
    <div class="card"><div class="card-body">
<div class="card">
    <div class="card-body teal lighten-2">
  
    <h3 class="center white-text">Welcome! <a>Please sign in</a> to create a note!</h3>
    </div></div>
    <hr>
    <br>
      </div></div>
</div>