{{> messages}}

<div class="card">
    <div class="card-body text-center">
<h3>New Entry</h3>
<hr>
</div></div>
<div class="card">
    <div class="card-body">


  <div class="form">
    <h2>Create Diary Entry<hr></h2><br><br><br>
  <div class="row">
    <div class="input-field col s6">
      
      <i class="material-icons prefix">textsms</i>

      <input type="text" id="autocomplete-input" class="strain strainAuto">

      <label for"autocomplete-input">Strain Name</label>
    </div>
    <div class="input-field col s6">
      <input id="dispensary" type="text" class="validate">
      <label for="dispensary">Dispensary Name</label>
    </div>
  </div>
  <div class="row">
    <div class="input species col s6">
      <select id="species">
        <option value="" disabled selected>Strain Species</option>
        <option value='Sativa'>Sativa</option>
        <option value="Indica">Indica</option>
        <option value="Hybrid">Hybrid</option>
      </select>
    </div>
    <div class="input method col s6">

      <select id="method">

        <option value="" disabled selected>Method</option>
        <option value="Smoked">Smoked</option>
        <option value="Edible">Edible</option>
        <option value="Vape">Vape/Dab</option>
        <option value="Topical">Topical</option>
        <option value="Other">Other</option>

      </select>
    </div>
    <div class="input-range col s6">
      <form action="#">
        <p class="range-field">
          <label>Potency</label>
          <input type="range" id="potency" min="0" max="40" step=".1">
        </p>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <textarea id="notes" class="materialize-textarea"></textarea>
      <label for="notes">My Notes</label>
    </div>
  </div>

    <button class="btn waves-effect waves-light" id="submit" type="submit" name="action">Submit

    <i class="material-icons right">send</i>
    </button>
  
</div>
</div></div>
