.nav {
    list-style-type: none;
    margin-left: 0;
}

.nav li {
    display: inline-block;
    padding-right: 25px;
}
body{
    background-image: url('../grungy_paper_texture_v_5_by_bashcorpo_ddo9g6.jpg');
   

}
a {font-family: 'Satisfy', cursive;

}
h3{
    font-family: 'Courgette', cursive;
}
p{
  
}


  main {
    flex: 1 0 auto;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  h2{
    font-family: 'Courgette', cursive;
  }
  .normal{
    font-family: Arial, Helvetica, sans-serif;
  }